<div data-ng-if="hakuState">

    <!-- TODO: move to directive -->
    <div class="px mb-l" data-ng-if="showEditDialog">

        <span data-ng-click="closeForm()" class="pull-right cursor-pointer justus-close-btn" title="Sulje">
            <i class="fa fa-close fa-lg"></i>
        </span>

        <h4 data-ng-if="selectedPerson.id" class="font-weight-bold">Muokkaat henkilöä: {{selectedPerson.etunimi}} {{selectedPerson.sukunimi}}</h4>
        <h4 data-ng-if="!selectedPerson.id" class="font-weight-bold">Lisää uusi henkilö</h4>

        <div class="row form-group">
            <div class="col-xs-12 ">
                <label class="control-label">Etunimi</label>
                <input type="text" class="form-control"
                       data-ng-model="selectedPerson.etunimi">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                <label class="control-label">Sukunimi</label>
                <input type="text" class="form-control"
                       data-ng-model="selectedPerson.sukunimi">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                <label class="control-label">Hr numero</label>
                <input type="text" class="form-control"
                       data-ng-model="selectedPerson.hrnumero">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                <label class="control-label">Sähköposti</label>
                <input type="text" class="form-control"
                       data-ng-model="selectedPerson.email">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                <label class="control-label">ORCID</label>
                <input type="text" class="form-control"
                       data-ng-model="selectedPerson.orcid">
            </div>
        </div>
        <div class="row form-group">
            <div data-ng-if="selectedPerson.alayksikko[0]" class="col-xs-12">
                <label class="control-label">Alayksikko (Maks. 3)</label>
                <div data-ng-repeat="a in selectedPerson.alayksikko track by $index" class="row mb-x">
                    <div class="col-xs-11">
                        <input disabled="true"
                               type="text" class="form-control"
                               data-ng-model="a">
                    </div>
                    <div class="col-xs-1">
                        <span class="btn btn-primary"
                              data-ng-click="removeAlayksikko($index)"
                              data-ng-hide="selectedPerson.alayksikko.length<2"
                              title="{{i18n.content.form.organisaatiotekija.poista.tooltip[lang]}}"
                              data-ng-bind="i18n.content.form.organisaatiotekija.poista[lang]">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                <label class="control-label">Lisää alayksiköitä</label>
            </div>
            <div class="col-xs-12 col-sm-5">
                <ui-select data-ng-model="alayksikkovuosi.selected"
                           theme="bootstrap">
                    <ui-select-match class="ui-select-match"
                                     data-ng-value="alayksikkovuosi.selected"
                                     placeholder="{{i18n.content.form.organisaatiotekija.alayksikkovuosi.picktip[lang]}}">
                        {{ $select.selected.label }}
                    </ui-select-match>
                    <ui-select-choices repeat="ala in alayksikkovuodet">
                        {{ala.label}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-xs-12 col-sm-7">
                <ui-select data-ng-model="alayksikko.selected"
                           on-select="addAlayksikko($select.selected.arvo)"
                           theme="bootstrap"
                           class="dropdown-height-300">
                    <ui-select-match class="ui-select-match"
                                     placeholder="Lisää alayksikkö">Lisää alayksikkö

                    </ui-select-match>
                    <ui-select-choices repeat="o in getAlayksikkoData(alayksikkovuosi.selected) | filter: $select.search">
                        {{ o.arvo}} {{o.selite}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="row mt-xl">
            <div data-ng-class="{ 'col-xs-12': !selectedPerson.id, 'col-xs-8': selectedPerson.id }">
                <button class="btn btn-primary btn-block btn-lg" data-ng-click="savePerson()">
                    Tallenna
                </button>
            </div>
            <div data-ng-if="selectedPerson.id" class="col-xs-4">
                <button class="btn btn-danger btn-block btn-lg" data-ng-click="removePerson()">
                    Poista käyttäjä
                </button>
            </div>
        </div>
    </div>

    <div data-ng-if="showList" style="margin: 30px 15px;">
        <span data-ng-click="closeList()" class="pull-right cursor-pointer justus-close-btn">
            <i class="fa fa-close fa-lg"></i>
        </span>
        <person-publication-list-directive
                                           person="personToShow"
                                           publication-list="publicationList"
                                          >
        </person-publication-list-directive>
    </div>

    <div class="px">
        <div class="row m-b m-t">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon bg-primary cursor-pointer border-primary">
                        <i class="fa fa-search text-white"></i>
                    </span>
                    <input type="text" class="form-control"
                           data-ng-model="search"
                           placeholder="Haku henkilöistä"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 p">
                <p>Organisaation käyttäjiä yhteensä: {{persons.length}}</p>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="text-xl">HRnumero</th>
                            <th class="text-xl">Etunimi</th>
                            <th class="text-xl">Sukunimi</th>
                            <th class="text-xl">Orcid</th>
                            <th class="text-xl">Muokattu</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="person in persons | filter: search | limitTo: 20"
                        class="hover-table-green">
                        <td data-ng-click="editPerson(person)">{{person.hrnumero}}</td>
                        <td data-ng-click="editPerson(person)">{{person.etunimi}}</td>
                        <td data-ng-click="editPerson(person)">{{person.sukunimi}}</td>
                        <td data-ng-click="editPerson(person)">{{person.orcid}}</td>
                        <td data-ng-click="editPerson(person)"><span data-ng-bind="person.modified | date:'d.M.yyyy HH:mm'"></span></td>
                        <td class="text-right">
                            <span class="px">
                                <button
                                    class="btn btn-primary btn-sm"
                                    data-ng-disabled="!person.orcid"
                                    data-ng-click="showPublications(person)">Näytä julkaisut
                                </button>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-block btn-lg" data-ng-click="addPerson()">Lisää uusi käyttäjä
            </button>
        </div>
    </div>

</div>