<div data-ng-if="hakuState">


    <div class="row">
        <div class="col-xs-12">
            <div class="breadcrumb">
                <h1 data-ng-bind="i18n.header.navigation.admin[lang]"></h1> <span><i class="fa fa-chevron-right"></i></span>
                <h2 data-ng-bind="i18n.admin.haku[lang]"></h2>
            </div>
        </div>
    </div>

    <div>
        <div data-ng-if="showList" style="margin: 30px 15px;">
            <button type="button"
                    class="btn btn-default pull-right "
                    data-ng-click="closeList()"
                    title="{{i18n.admin.content.form.sulje[lang]}}">
                {{i18n.admin.content.form.sulje[lang]}}
                <i class="fa fa-close fa-lg pl"></i>
            </button>
            <person-publication-list-directive
                    lang="lang"
                    person="personToShow"
                    publication-list="publicationList">
            </person-publication-list-directive>
        </div>

        <div class="px" data-ng-if="!persons.data.length">
            <p class="text-secondary text-xl text-center mt-xl">Aloita lisäämällä henkilöitä Tuo henkilöitä -välilehdellä</p>
        </div>

        <div class="px" data-ng-if="persons.data.length">
            <div class="row m-t">
                <div class="col-xs-12 p">
                    <p class="mb-0 font-weight-bold">{{i18n.admin.content.yhteensa[lang]}}<span class="pl-x">{{persons.data.length}}</span></p>
                    <p class="mb-0">Taulukko näyttää 20 viimeeksi muokattua tekijää. Hakukentässä voit hakea tekijöitä etunimen, sukunimen tai tunnisteen perusteella.</p>
                    <p>Tekijää voi muokata klikkaamalla riviä halutun tekijän kohdalla.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label for="tekijahaku" class="font-weight-bold" data-ng-bind="i18n.admin.haku[lang]"></label>
                    <div class="input-group">
                    <span class="input-group-addon bg-primary cursor-pointer border-primary">
                        <i class="fa fa-search text-white"></i>
                    </span>
                        <input id="tekijahaku"
                               type="search" class="form-control"
                               data-ng-model="search"
                               placeholder="Hae etunimen, sukunimen tai tunnisteen perusteella"/>
                    </div>
                </div>
            </div>

            <div class="row pt">
                <div class="col-xs-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="text-xl">{{i18n.admin.content.lista.tunniste[lang]}}</th>
                            <th class="text-xl">{{i18n.admin.content.lista.etunimi[lang]}}</th>
                            <th class="text-xl">{{i18n.admin.content.lista.sukunimi[lang]}}</th>
                            <th class="text-xl">{{i18n.admin.content.lista.orcid[lang]}}</th>
                            <th class="text-xl">{{i18n.admin.content.lista.muokattu[lang]}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="person in persons.data | filter: search | limitTo: 20"
                                class="hover-table-green">
                                <td data-ng-click="editPerson(person, 'lg')">{{person.tunniste}}</td>
                                <td data-ng-click="editPerson(person, 'lg')">{{person.etunimi}}</td>
                                <td data-ng-click="editPerson(person, 'lg')">{{person.sukunimi}}</td>
                                <td data-ng-click="editPerson(person, 'lg')">{{person.orcid}}</td>
                                <td data-ng-click="editPerson(person, 'lg')"><span
                                        data-ng-bind="person.modified | date:'d.M.yyyy HH:mm'"></span></td>
                                <td class="text-right">
                                    <span class="px">
                                        <a
                                            data-ng-class="{ 'primary-button-a': person.orcid, 'disabled-button-a': !person.orcid }"
                                            data-ng-disabled="!person.orcid"
                                            data-ng-click="showPublications(person)"
                                            data-ng-bind="i18n.admin.content.lista.nayta[lang]">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-show="showUpdateResponse" class="alert alert-success alert-dismissible alert-absolute"
        data-ng-class="{ 'alert-danger':  updatePersonError }">
        <a class="custom-close" data-ng-click="closeUpdateAlert()" aria-label="close"><i class="fa fa-times"></i></a>
        <span class="text-xl text-secondary">{{updatePersonAlertText}}</span>
    </div>

</div>