<div data-ng-controller="AdminController">
    <div class="row no-gutter m-b">
        <div class="col-xs-6 text-center">
            <div class="justus-btn justus-btn-stage" data-ng-class="{selected: hakuState}"
                 data-ng-click="hakuState=true">
                <span data-ng-bind="i18n.admin.haku[lang]"></span>
            </div>
        </div>
        <div class="col-xs-6 text-center">
            <div class="justus-btn justus-btn-stage" data-ng-class="{selected: !hakuState}"
                 data-ng-click="hakuState=false">
                <span data-ng-bind="i18n.admin.vie[lang]"></span>
            </div>
        </div>
    </div>
    <div data-ng-if="hakuState" data-ng-include data-src="'html/admin/haku.html'"></div>
    <div data-ng-if="!hakuState" data-ng-include data-src="'html/admin/vie.html'"></div>
</div>
