<div data-ng-if="!hakuState">
    <div class="row no-gutter">
        <div class="col-md-4">
            <h4>Lataa tiedot</h4>
        </div>

        <div class="d-inline-block pull-right">
            <button class="btn btn-primary">
                <a data-ng-href="{{csvurl}}" class="text-white no-hover" download="persons.csv">Lataa CSV</a>
            </button>
        </div>
    </div>


    <div class="row no-gutter form-group">
        <div class="col-md-4">
            <h4>Tuo päivitetyt tiedot</h4>
        </div>

        <div class="col-md-8">
            <div ng-show="!csvFile.file">
                <div class="d-inline-block pull-right" ngf-select ng-model="csvFile.file" name="filename"
                     ngf-max-size="100MB">
                    <button class="btn btn-primary">
                        {{i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.julkaisu.tiedosto.valitse[lang]}}
                    </button>
                </div>
            </div>
            <div ng-show="csvFile.file" class="text-right">
                <span class="font-weight-bold text-xl" style="margin-right: 10px;">{{csvFile.file.name}}</span>
                <button class="btn btn-link"
                        data-ng-click="csvFile.file = null"
                        data-ng-bind="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.julkaisu.tiedosto.poista[lang]">
                </button>
                <button class="btn btn-primary" data-ng-click="uploadCsv(csvFile.file)">
                    Lähetä
                </button>
            </div>
        </div>
    </div>

    <div data-ng-if="personsToBeDeleted.length > 0" class="row no-gutter border-danger p-l">
        <div>
            <h4 class="font-weight-bold text-danger mt-0">Huom! Seuraavat henkilöt poistetaan tietokannasta:</h4>
        </div>
        <div class="form-group">
            <ul>
                <li data-ng-repeat="person in personsToBeDeleted" class="">
                    <span class="font-weight-bold">{{person.hrnumero}}</span>, {{person.etunimi}} {{person.sukunimi}}
                </li>
            </ul>
            <!--<table class="table table-condensed">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th class="text-xl">HRnumero</th>-->
                    <!--<th class="text-xl">Etunimi</th>-->
                    <!--<th class="text-xl">Sukunimi</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr data-ng-repeat="person in personsToBeDeleted">-->
                    <!--<td>{{person.hrnumero}}</td>-->
                    <!--<td>{{person.etunimi}}</td>-->
                    <!--<td>{{person.sukunimi}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        </div>
        <div>
            <button class="btn btn-primary" data-ng-click="saveCsvData()">
                Ok
            </button>
            <button class="btn btn-primary pull-right" data-ng-click="discardChanges()">
                Peruuta
            </button>
        </div>

    </div>

    <div data-ng-show="csvUploadError">
        <span class="text-danger">{{csvUploadErrorText}}</span>
    </div>

</div>