<div data-ng-if="!hakuState">

    <div class="row">
        <div class="col-xs-12">
            <div class="breadcrumb">
                <h1 data-ng-bind="i18n.header.navigation.admin[lang]"></h1> <span><i class="fa fa-chevron-right"></i></span>
                <h2 data-ng-bind="i18n.admin.vie[lang]"></h2>
            </div>
        </div>
    </div>

    <uib-accordion class="text-secondary">
        <div uib-accordion-group class="panel-default m-t"
             is-open="download.open"
             data-ng-class="{'opened': download.open}">
            <uib-accordion-heading class="bg-light" >
                <div>
                    <h4>{{i18n.admin.content.lataus.lataa.title[lang]}}
                        <i class="pull-right glyphicon"
                           data-ng-class="{'glyphicon-chevron-down': download.open, 'glyphicon-chevron-right': !download.open}"></i>
                    </h4>
                </div>
            </uib-accordion-heading>
            <div class="p-1">
                <p data-ng-bind="i18n.admin.content.lataus.lataa.text1[lang]"></p>
                <p class="font-weight-bold" data-ng-bind="i18n.admin.content.lataus.lataa.text2[lang]"></p>
                    <a data-ng-href="{{csvurl}}" class="text-white btn btn-primary"
                       download="persons.csv">{{i18n.admin.content.lataus.lataa.button[lang]}}</a>
            </div>
        </div>
    </uib-accordion>

    <uib-accordion class="text-secondary">
        <div uib-accordion-group class="panel-default m-t"
             is-open="upload.open"
             data-ng-class="{'opened': upload.open}">
            <uib-accordion-heading class="bg-light" >
                <div>
                    <h4>{{i18n.admin.content.lataus.tuo.title[lang]}}
                        <i class="pull-right glyphicon"
                           data-ng-class="{'glyphicon-chevron-down': upload.open, 'glyphicon-chevron-right': !upload.open}"></i>
                    </h4>
                </div>
            </uib-accordion-heading>

            <div class="p-1">
                <div data-ng-show="!csvFile.file">
                    <p data-ng-bind="i18n.admin.content.lataus.tuo.text1[lang]"></p>
                    <p data-ng-bind="i18n.admin.content.lataus.tuo.text2[lang]"></p>
                    <p data-ng-bind="i18n.admin.content.lataus.tuo.text3[lang]"></p>
                    <p data-ng-bind="i18n.admin.content.lataus.tuo.text4[lang]"></p>
                    <div class="m-t">
                        <label for="file-upload" class="custom-file-upload btn btn-primary cursor-pointer"
                               data-ng-bind="i18n.admin.content.lataus.tuo.button[lang]">
                        </label>
                        <input id="file-upload" type="file" ngf-select="uploadCsv(csvFile.file)" data-ng-model="csvFile.file" name="filename"
                               ngf-max-size="100MB"  data-file-reader-directive file-content="csvData" accept=".csv">
                    </div>
                </div>
                <div data-ng-show="csvFile.file">
                    <p>Tiedosto: <span class="font-weight-bold">{{csvFile.file.name}}</span></p>
                </div>

            <div data-ng-if="csvPreviewSuccess">
                <div data-ng-if="csvData.data.length > 0">
                    <div class="row">
                        <div class="col-xs-12 text-secondary">
                            <h4 class="font-weight-700" data-ng-bind="i18n.admin.content.lataus.tuo.esikatselu[lang]"></h4>
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-md-12">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th data-ng-bind="i18n.admin.content.lista.tunniste[lang]"></th>
                                    <th data-ng-bind="i18n.admin.content.lista.etunimi[lang]"></th>
                                    <th data-ng-bind="i18n.admin.content.lista.sukunimi[lang]"></th>
                                    <th data-ng-bind="i18n.admin.content.lista.email[lang]"></th>
                                    <th data-ng-bind="i18n.admin.content.lista.orcid[lang]"></th>
                                    <th>{{i18n.admin.content.lista.alayksikko[lang]}} 1</th>
                                    <th>{{i18n.admin.content.lista.alayksikko[lang]}} 2</th>
                                    <th>{{i18n.admin.content.lista.alayksikko[lang]}} 3</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="row in csvData.data | limitTo: 10">
                                    <td>{{row.tunniste}}</td>
                                    <td>{{row.etunimi}}</td>
                                    <td>{{row.sukunimi}}</td>
                                    <td>{{row.email}}</td>
                                    <td>{{row.orcid}}</td>
                                    <td>{{row.alayksikko1}}</td>
                                    <td>{{row.alayksikko2}}</td>
                                    <td>{{row.alayksikko3}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" data-ng-if="personsToBeDeleted.length > 0">
                    <div class="col-md-12">
                        <div>
                            <h4 class="font-weight-700 text-danger mt-0 text-secondary"
                                data-ng-bind="i18n.admin.content.lataus.tuo.poisto[lang]"></h4>
                        </div>
                        <div role="alert" class="alert alert-danger text-secondary m-b">
                            <ul>
                                <li data-ng-repeat="person in personsToBeDeleted" class="">
                                    <span class="font-weight-bold">{{person.tunniste}}</span>
                                    <span class="pxs">{{person.etunimi}} {{person.sukunimi}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div data-ng-if="csvFile.file">
                    <div class="row mb-x">
                        <div class="col-xs-12">
                            <p class="font-weight-500" data-ng-bind="i18n.admin.content.lataus.tuo.info[lang]"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-xs-12 margin-bottom-md">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit"
                                    data-ng-click="saveCsvData()"
                                    data-ng-bind="i18n.admin.content.lataus.tuo.tallenna[lang]">
                            </button>
                        </div>
                        <div class="col-md-4 col-xs-12 pull-right">
                            <button class="btn btn-lg btn-danger btn-block"
                                    type="button"
                                    data-ng-click="discardChanges(csvData)"
                                    data-ng-bind="i18n.admin.content.lataus.tuo.peruuta[lang]">
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div data-ng-show="showAlertDialog" class="p-t">
                <span data-ng-class="{'text-danger': csvUploadError}">{{csvUploadErrorText}}</span>
                <div class="alert alert-success alert-dismissible mb-0" data-ng-class="{'alert-danger': csvUploadError}" role="alert">
                    <span class="text-xl text-secondary">{{csvUploadResponseText}}</span>
                    <button type="button" data-ng-click="resetDialog()" class="btn close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="row" data-ng-if="csvPreviewError">
                <div class="col-md-12">
                    <div role="alert" class="alert alert-danger text-secondary text-xl m-b">
                        <p lang="EN">
                            <span class="font-weight-bold">Error in uploading CSV file with message: </span> <span class="break-word">{{csvErrorText}}</span>
                        </p>
                        <p class="text-right">
                            <button type="button" class="btn btn-danger"
                                    data-ng-click="discardChanges(csvData)"
                                    data-ng-bind="i18n.admin.content.lataus.tuo.error[lang]"></button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </uib-accordion>

    <uib-accordion class="text-secondary">
        <div uib-accordion-group class="panel-default m-t"
             is-open="addNew.open"
             data-ng-class="{'opened': addNew.open}">
            <uib-accordion-heading class="bg-light" >
                <div data-ng-click="addPerson()">
                    <h4>{{i18n.admin.content.lataus.lisaa[lang]}}
                        <i class="pull-right glyphicon"
                           data-ng-class="{'glyphicon-chevron-down': addNew.open, 'glyphicon-chevron-right': !addNew.open}"></i>
                    </h4>
                </div>
            </uib-accordion-heading>
            <div class="p-1" data-ng-if="user.visibleFields">

                <p data-ng-bind="i18n.admin.content.lataus.lisaa.teksti[lang]"></p>

                <person-form-directive  data-ng-form="personForm" selected-person="personData" lang="lang"></person-form-directive>

                <div class="row"
                     data-ng-if="invalidFields.missingValue.length > 0 || invalidFields.invalidValue.length > 0">
                    <div class="col-xs-12">
                        <div role="alert" class="alert alert-danger mb-0">
                            <h3 class="text-secondary mt-0">
                                {{i18n.content.tietojensyotto.tarkasta[lang]}}
                            </h3>
                            <div>
                              <span class="pxs" data-ng-repeat="o in invalidFields.missingValue">
                                    <i class="text-xl" data-ng-bind="i18n.admin.content.form[o][lang]?i18n.admin.content.form[o][lang]:o"></i>
                                <br>
                              </span>
                                <span class="pxs" data-ng-repeat="i in invalidFields.invalidValue">
                                    <i class="text-xl" data-ng-bind="i18n.admin.content.form[i][lang]?i18n.admin.content.form[i][lang]:i"></i>
                                <br>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-xl">
                    <div class="col-xs-8 margin-bottom-md">
                        <button class="btn btn-primary btn-block btn-lg"
                                type="submit"
                                data-ng-click="savePerson(personForm)"
                                data-ng-bind="i18n.admin.content.form.tallenna[lang]">
                        </button>
                    </div>
                    <div class="col-xs-4 margin-bottom-md">
                        <button class="btn btn-danger btn-block btn-lg"
                                type="submit"
                                data-ng-click="cancel()"
                                data-ng-bind="i18n.admin.content.form.peruuta[lang]">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>

    <div data-ng-if="savePersonSuccess || savePersonError">
        <div class="alert alert-success alert-dismissible" data-ng-class="{'alert-danger': savePersonError}" role="alert">
            <span class="text-xl text-secondary">{{savePersonResponseText}}</span>
            <button type="button" data-ng-click="resetDialog()" class="btn close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

</div>


