<div class="modal-header">
    <h4 class="modal-title font-weight-bold" data-ng-bind="i18n.admin.content.form.poista.modal.title[lang]"></h4>
</div>
<div class="modal-body" id="modal-body">
    <p>{{i18n.admin.content.form.poista.modal.text[lang]}} {{person.etunimi}} {{person.sukunimi}}?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-ng-click="cancel()"
            data-ng-bind="i18n.admin.content.form.poista.modal.cancel[lang]"></button>
    <button type="button" class="btn btn-danger" data-ng-click="ok()"
            data-ng-bind="i18n.admin.content.form.poista[lang]"></button>
</div>
