.alert-default {
  background: #ddd;
  padding: 25px;
  > p {
    margin-bottom: 10px;
  }
  > button {
    font-size: 16px;
  }
}

.alert-absolute {
  position: fixed;
  z-index: 1000;
  top: 20px;
  left: 15px;
  height: 60px;
  .custom-close {
    cursor: pointer;
    position: relative;
    float: right;
    color: inherit;
    padding-left: 10px;
    padding-top: 1px;
    .fa {
      font-size: 20px;
        &:hover {
          text-decoration: underline;
        }
    }
  }
}
