.btn {
  line-height: 1.6;
  padding: 8px 16px;
  font-family: $font-family-secondary;
}


.btn-primary {
  border-color: $brand-primary;
  font-family: $font-family-secondary;
  &.btn-secondary,
  &:focus,
  &:active {
    background: $brand-secondary;
    color: $brand-white;

    &:hover {
      background: $brand-primary;
      color: $brand-white;
    }
  }
}

.btn-lg {
  padding-left: $padding-large-vertical*2;
  padding-right: $padding-large-vertical*2;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}

.btn-secondary {
  background-color: $brand-secondary;
  color: $brand-white;
  font-family: $font-family-secondary;
  font-weight: 300;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($brand-secondary, 5%);
    color:  $brand-white;

  }
}

.justus-btn {
  cursor: pointer;
  text-align: center;
  //border-radius: 6px;
  position: relative;
  font-family: $font-family-secondary;
}
.alert-dismissable .close, .alert-dismissible .close {
  float:right;
  background: inherit;
  margin-top: -10px;
  padding: 0;
  span {
    font-size: 28px;
  }
}


.justus-btn.disabled {
  cursor: not-allowed;
}

.justus-btn:hover {
  transition: all 0.5s ease-in-out;
  //background-color: #026D7C;
  background-color: darken($brand-secondary, 5%);
}

.justus-close-btn {
  background: #F9F9F9;
  padding: 4px 6px;
  box-shadow: 0px 0px 4px 1px #B2B2B2;
  -webkit-box-shadow: 0px 0px 4px 1px #B2B2B2;
}

.justus-btn.selected {
  //background-color: #026D7C;
  background-color: $brand-secondary;
}

.justus-btn-stage {
  //background-color: #99C2C8;
  background-color: lighten($brand-secondary, 50%);
  color: #FFFFFF;
  font-size: larger;
  padding: 12px;
  margin: 2px;
}

.justus-btn-stage.disabled {
  //background-color: #99C2C8;
  background-color: lighten($brand-secondary, 50%);
  padding: 12px;
  margin: 2px;
}

.justus-btn-primary.disabled {
  background-color: #FFFFFF;
  color: #7dc243;
  border: 10px solid #7dc243;
  padding: 2px;
  margin: 2px;
  cursor: not-allowed;
  text-align: center;
}

.justus-btn-tyyppi {
  font-family: $font-family-secondary;
  color: $brand-white;
  background-color: $brand-primary-light;
  display: inline-block;
  padding: 9px;
  margin: 4px 0px;
  cursor: pointer;
  text-align: left;
  font-size: larger;
  border: 0;
  border-radius: 4px;
  &:hover {
    background-color: $brand-primary-dark;
  }
}

.justus-btn-tyyppi.active {
  background-color: $brand-primary;
}
.justus-btn-tyyppi.disabled {
  &:hover {
    background-color: $brand-primary-light;

  }
}

// Datepicker

.btn-info {
  background-color: $brand-primary;
  border-color: $brand-primary;
  &:hover {
    background-color: darken($brand-primary, 10%);
  }
}

.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: $brand-primary;
  border-color: $brand-primary;
  &:hover {
    background-color: darken($brand-primary, 10%);
  }

}
.text-info {
  color: #000;
}


