.btn {
  line-height: 1.6;
  padding: 8px 16px;
  font-family: $font-family-secondary;
}


.btn-primary {
  border-color: $brand-primary;
  font-family: $font-family-secondary;
  &.btn-secondary,
  &:focus,
  &:active {
    color: $brand-white;

    &:hover {
      background: $brand-primary;
      color: $brand-white;
    }
  }
}

.btn-lg {
  padding-left: $padding-large-vertical*2;
  padding-right: $padding-large-vertical*2;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}

.btn-sm {
  border-radius: $border-radius-base;
  padding: 9px 10px;

}

.btn-secondary {
  background-color: $brand-secondary;
  color: $brand-white;
  font-family: $font-family-secondary;
  font-weight: 300;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($brand-secondary, 5%);
    color:  $brand-white;

  }
}

.btn-etusivu {
  padding: 12px 40px;
  border-radius: 2px;
  font-size: $font-size-xl;
}

.justus-btn {
  cursor: pointer;
  text-align: center;
  //border-radius: 6px;
  position: relative;
  font-family: $font-family-secondary;
}
.alert-dismissable .close, .alert-dismissible .close {
  float:right;
  background: inherit;
  margin-top: -10px;
  padding: 0;
  span {
    font-size: 28px;
  }
}


.justus-btn.disabled {
  cursor: not-allowed;
}

.justus-btn:hover {
  transition: all 0.5s ease-in-out;
  //background-color: #026D7C;
  background-color: darken($brand-secondary, 5%);
  color: $brand-white;
}

.justus-close-btn {
  background: #F9F9F9;
  padding: 4px 6px;
}

.justus-btn.selected {
  //background-color: #026D7C;
  background-color: $brand-secondary;
  color: $brand-white;

}

.justus-btn-stage {
  background-color: lighten($brand-secondary, 40%);
  color: $brand-white;
  font-size: larger;
  padding: 12px;
  margin: 2px;
}

.justus-btn-stage.disabled {
  background-color: lighten($brand-secondary, 40%);
  padding: 12px;
  margin: 2px;
}

.justus-btn-primary.disabled {
  background-color: #FFFFFF;
  color: #7dc243;
  border: 10px solid #7dc243;
  padding: 2px;
  margin: 2px;
  cursor: not-allowed;
  text-align: center;
}

.justus-btn-tyyppi {
  font-family: $font-family-secondary;
  color: $brand-white;
  background-color: $brand-primary-light;
  display: inline-block;
  padding: 9px;
  margin: 4px 0px;
  cursor: pointer;
  text-align: left;
  font-size: larger;
  border: 0;
  border-radius: 4px;
  &:hover {
    background-color: $brand-primary-dark;
    color: $brand-white;
  }
}

.justus-btn-tyyppi.active {
  background-color: $brand-primary;
  color: $brand-white;
}
.justus-btn-tyyppi.disabled {
  &:hover {
    background-color: $brand-primary-light;

  }
}
.btn-info {
  background-color: #f5f5dc;
  border-color: #f5f5dc;
  color: $brand-primary;
  &:hover, &:focus, &:active {
    background-color: darken(#f5f5dc, 5%) !important;
    border-color: #f5f5dc !important;
    color: $brand-primary !important;
  }
}


