.form-header {
  background-color: $brand-secondary;
  color: $brand-white;
  padding: $padding-base-vertical $padding-base-horizontal;
}

.form-control-feedback {
  display: none;
  right: 15px;
}

.has-feedback {
  .form-control-feedback {
    display: block;
  }
}

.form-control-feedback-extra {
  position: absolute;
  right: 15px;
  top: 10px;
}

.required-star {
  color: $brand-danger;
}