.navigation {
  a,
  a:focus,
  a:active {
    display: inline-block;
    font-size: $font-size-base;
    text-decoration: none;
    color: $brand-primary;
    padding: $padding-small-vertical $padding-small-horizontal;
    border-radius: $border-radius-base;
    margin-bottom: $padding-small-vertical;

    &:hover {
      background: $brand-primary-dark;
      color: $brand-white;
      text-decoration: none;
    }

    &.active {
      background: $brand-primary;
      color: $brand-white;
      text-decoration: none;
    }

    @media(min-width: $width-lg) {
      font-size: $font-size-large;
      margin-bottom: 0;
    }
  }
}