.table {
  font-family: $font-family-secondary;
  tbody,
  thead {
    tr {
      th {
        font-family: $font-family-secondary;
        white-space: nowrap;
      }
      th,
      td {

        vertical-align: top;

        &.condensed-1 {
          width: 1%;
        }
        &.condensed-25 {
          width: 25%;
        }

        &.nowrap {
          white-space: nowrap;
        }

        &.btn-col {
          white-space: nowrap;
          padding: $table-cell-padding / 2 $table-cell-padding;

          .btn {
            float: none;
            display: inline-block;
          }
        }

        .btn {
          padding: 3px 10px;
        }
      }
    }
  }
}

.hover-table-green {
  &:hover {
    cursor: pointer;
    background-color: $brand-primary !important;
    color: #fff;
    a {
      color: #fff;
    }
  }

}

.person-publication-list {
  margin: 30px 15px;
  border: 1px solid #eee;
  padding: 10px 20px 10px 20px;
  background: #f6f6f6;
}