.ui-select-bootstrap {
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1.5em;
  }
  .ui-select-match-text {
    //width: 97%;
    text-overflow: ellipsis;
    padding-right: 0 !important;
  }

  .ui-select-toggle {

    &.form-control {
      @include input();
    }
  }

  .input-group {
    .ui-select-toggle {

      &.form-control:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .ui-select-choices-row {
    //padding: $padding-small-vertical $padding-small-horizontal;
    //padding: $padding-small-vertical $padding-small-horizontal;
    span {
        padding: 7px 0;
      margin: 0 10px;
        &:hover {
          color: $brand-white;
          background-color: $brand-primary;
        }
    }
  }
}

.ui-select-match.no-ellipsis span {
  text-overflow: initial;
}
.ui-select-bootstrap .ui-select-choices-row.active>span {
  color: $brand-white;
  background-color: $brand-primary;
}

.publication-search {
  .ui-select-bootstrap{
    .form-control {
      font-size: $font-size-base;
    }
    .ui-select-placeholder {
      font-weight: 300;
      color: #999;
      padding-top: 5px;
    }
  }
}