<!-- vaihe 1 esitäytä -->
<!-- https://www.flowdock.com/app/tiptop/julkaisutiedonkeruu/threads/p5pUkeuPLbnwLdQb6I6wE_b-ZCI -->
<!-- hae julkaisua CrossRef, ARTO, VIRTA-JTP; voi myös ohittaa -->
<!-- hakuehdot: DOI, julkaisun nimi, tekijän nimi -->
<!-- div class="row">
  <div class="col-xs-12">
    <span>{{i18n.content.esitayta.title[lang]}}</span>
    <br>
    <span class="">{{i18n.content.esitayta.text[lang]}}</span>
    <script type="text/ng-template" id="HakuPopoverTemplate.html">
      <ol>
        <li>{{i18n.content.esitayta.text.doi[lang]}}</li>
        <li>{{i18n.content.esitayta.text.haku[lang]}}</li>
        <li>{{i18n.content.esitayta.text.ohita[lang]}}</li>
      </ol>
    </script>
    <i class="fa fa-info-circle justus-info"
     data-popover-trigger="'mouseenter'" data-popover-placement="bottom"
     data-popover-title="{{i18n.content.esitayta.title[lang]}}"
     data-uib-popover-template="'HakuPopoverTemplate.html'"></i>
  </div>
</div -->

<div class="alert alert-default text-center text-secondary" data-ng-if="justus.julkaisu.id">
    <p class="text-2xl text-dark">Muokkaat julkaisua {{ justus.julkaisu.id }}, {{ justus.julkaisu.julkaisunnimi }}</p>
    <button class="btn btn-primary" data-ng-click="clearFormAndReturnToStart()">Keskeytä ja siirry alkuun</button>
</div>

<div class="esitaytto-container px">
    <div class="row px">
        <div class="col-xs-11">
            <label for="doihaku" class="h3 text-dark">{{i18n.content.esitayta.doihaku.title[lang]}}</label>
            <p data-ng-bind="i18n.content.esitayta.doihaku.info[lang]"></p>
        </div>
    </div>
    <div class="row px">
        <div class="col-xs-11">
            <div class="form-group">
                <input id="doihaku"
                       name="doihaku"
                       type="text"
                       data-ng-model="julkaisunhakudoi"
                       class="form-control"
                       placeholder='{{i18n.content.esitayta.doihaku.tunniste.tooltip[lang]}}'>
            </div>
        </div>

        <div class="col-xs-1">
            <button type="submit"
                    class="btn btn-primary pull-right"
                    data-ng-disabled="!julkaisunhakudoi.length"
                    data-ng-click="useJulkaisunnimi('CrossRef',julkaisunhakudoi,  false)"
                    >Hae
            </button>
        </div>
    </div>

    <div class="row px">
        <div class="col-xs-6">
            <i class="fa fa-spinner fa-spin fa-3x pull-right" data-ng-if="crossrefLataa"></i>
        </div>
    </div>

    <div class="row px" data-ng-if="crossRefResult.length">
        <div class="col-xs-12">
            <p class="text-secondary h4 font-weight-bold">Löytyi julkaisu:</p>
            <p class="h4 text-dark font-weight-bold">
                {{crossRefResult}}
            </p>
            <button type="button"
                    class="btn btn-primary mt-x"
                    data-ng-click="useJulkaisunnimi('CrossRef', julkaisunhakudoi)"
                    data-ng-bind="i18n.content.esitayta.hae[lang]">
            </button>
        </div>
    </div>

    <div data-ng-show="noCrossRefResults" class="row px">
        <div class="col-xs-12">
            <p class="text-secondary text-dark pl-x text-xl">
                DOI-tunnistetta vastaavaa julkaisua ei löytynyt. Tarkista että syöttämäsi tunniste on oikein.
            </p>
        </div>
    </div>


    <div class="row px">
        <div class="col-xs-11">
            <label
                   class="h3 text-dark">{{i18n.content.esitayta.etsijulkaisu.title[lang]}}
            </label>
            <p data-ng-bind="i18n.content.esitayta.etsijulkaisu.info[lang]"></p>

        </div>
    </div>

    <div class="row px">
        <div class="col-xs-11">
            <label class="control-label font-weight-bold"
                   for="tekijannimi">
                Rajaa hakua halutessasi tekijän nimellä (valinnainen)
            </label>
            <div class="form-group">
                <input id="tekijannimi"
                       type="text" class="form-control"
                       data-ng-model="julkaisunhakutekija"
                       placeholder="{{i18n.content.esitayta.etsijulkaisu.tekija.tooltip[lang]}}">
            </div>
        </div>
    </div>


    <div class="row px">
        <div class="col-xs-11">
            <label class="control-label font-weight-bold"
                   for="julkaisunnimihaku">
                {{i18n.content.esitayta.etsijulkaisu.picktip[lang]}}
            </label>
            <input class="form-control" type="text"
                   data-ng-model="hakusana"
                   id="julkaisunnimihaku"
                   placeholder="{{i18n.content.esitayta.etsijulkaisu.picktip[lang]}}">
            <div class="btn-group" uib-dropdown is-open="searchDropDownStatus.isopen">
                <ul class="custom-dropdown position-relative" uib-dropdown-menu role="menu"
                    aria-labelledby="julkaisunnimihaku">
                    <li role="menuitem"
                        class="cursor-pointer"
                        data-ng-repeat="julkaisu in julkaisunnimet"
                        data-ng-click="valitseJulkaisu(julkaisu)">
                        <span class="justus-dim-sm">{{julkaisu.source}} {{julkaisu.doi}}</span>
                        <br> <span class="font-weight-bold">{{julkaisu.title}}</span>
                        <br>{{julkaisu.author}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-1">
            <button type="button"
                    style="margin-top:27px;"
                    class="btn btn-primary"
                    data-ng-disabled="!hakusana || hakusana.length < 5"
                    data-ng-click="refreshJulkaisunnimet($event, hakusana, julkaisunhakutekija)">Hae
            </button>
        </div>
    </div>

    <div data-ng-show="noResults" class="row px">
        <div class="col-xs-12">
            <p class="text-secondary text-dark pl-x text-xl">Ei hakutuloksia annetuilla hakuehdoilla. Tarkasta hakuehdot.</p>
        </div>
    </div>

    <div class="row px" data-ng-show="valittuJulkaisu">
        <div class="col-xs-12">
            <p class="text-secondary h4 font-weight-bold">Valittuna julkaisu:</p>

            <p class="h4 text-dark">
                <span>{{valittuJulkaisu.source}}</span>  <span class="pl-x">{{valittuJulkaisu.doi}}</span>
            </p>
            <p class="h4 text-dark font-weight-bold">
                {{valittuJulkaisu.title}}
            </p>
            <p class="h4 text-dark">
            {{valittuJulkaisu.author}}
            </p>
            <button type="button"
                    class="btn btn-primary mt-x"
                    data-ng-click="useJulkaisunnimi(valittuJulkaisu.source, valittuJulkaisu.identifier)"
                    data-ng-bind="i18n.content.esitayta.hae[lang]">
            </button>
        </div>
    </div>

</div>

    <div class="row px">
        <div class="col-xs-6">
            <i class="fa fa-spinner fa-spin fa-3x pull-right" data-ng-if="virtaLataa"></i>
        </div>
    </div>

<div class="row" data-ng-show="valittuJulkaisu.organisation == user.organization.code">
    <div class="col-xs-12">
        <h3>
            *Mahdollinen duplikaatti*
        </h3>
    </div>
</div>

<div class="row px" style="margin-top:80px">
    <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-lg btn-primary pull-right" data-ng-click="julkaisuhaettu=true; useVaihe(2)">
            {{ i18n.content.esitayta.ohita[lang] }}
        </button>
    </div>
</div>