<!-- vaihe 1 esitäytä -->

<div class="esitaytto-container px">

    <div class="row ">
        <div class="col-xs-12 ">
            <div class="breadcrumb">
                <h1 data-ng-bind="i18n.header.navigation.tallenna[lang]"></h1> <span><i class="fa fa-chevron-right"></i></span><h2 data-ng-bind="i18n.content.vaihevuo.esitayta[lang]"></h2>
            </div>
        </div>
    </div>

    <div class="row px">
        <div class="col-xs-11">
            <label for="doihaku" class="h3 text-dark">{{i18n.content.esitayta.doihaku.title[lang]}}</label>
            <p data-ng-bind="i18n.content.esitayta.doihaku.info[lang]"></p>
        </div>
    </div>
    <div class="row px">
        <div class="col-xs-11">
            <div class="form-group">
                <input id="doihaku"
                       data-ng-disabled="crossrefLataa"
                       name="doihaku"
                       type="text"
                       data-ng-model="julkaisunhakudoi"
                       class="form-control"
                       placeholder='{{i18n.content.esitayta.doihaku.tunniste.tooltip[lang]}}'>
            </div>
        </div>

        <div class="col-xs-1">
            <button type="submit"
                    class="btn btn-primary pull-right"
                    data-ng-disabled="!julkaisunhakudoi.length || crossrefLataa"
                    data-ng-click="useJulkaisunnimiCrossRef(julkaisunhakudoi)"
                    data-ng-bind="i18n.content.esitayta.doihaku.hae[lang]">
            </button>
        </div>
    </div>

    <div class="row px" data-ng-if="crossrefLataa">
        <div class="col-xs-12 text-center text-dark">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
            <p class="text-secondary m-t">Haku käynnissä, odotathan...</p>
        </div>
    </div>

<!--    <div class="row px">-->
<!--        <div class="col-xs-6">-->
<!--            <i class="fa fa-spinner fa-spin fa-3x pull-right" data-ng-if="crossrefLataa"></i>-->
<!--        </div>-->
<!--    </div>-->

    <div class="row px" data-ng-if="crossRefhaettu">
        <div class="col-xs-12">
            <p class="text-secondary h4 font-weight-bold"
                data-ng-bind="i18n.content.esitayta.doihaku.tulos[lang]"></p>
            <p class="text-xl text-dark">
                {{crossRefJulkaisu.doitunniste}}
            </p>
            <p class="h4 text-dark font-weight-bold">
                {{crossRefJulkaisu.julkaisunnimi}}
            </p>
            <button type="button"
                    class="btn btn-primary mt-x"
                    data-ng-click="useCrossRefEsitaytto(crossRefJulkaisu)"
                    data-ng-bind="i18n.content.esitayta.hae[lang]">
            </button>
        </div>
    </div>

    <div data-ng-show="noCrossRefResults" class="row px">
        <div class="col-xs-12">
            <div class="alert alert-danger">
            <p class="text-secondary text-dark pl-x text-xl" data-ng-bind="i18n.content.esitayta.doihaku.eituloksia[lang]"></p>
            </div>
        </div>
    </div>

    <div data-ng-show="crossRefServerError" class="row px">
        <div class="col-xs-12">
            <div class="alert alert-danger">
            <p class="text-secondary text-dark pl-x text-xl">Crossref palvelu ei vastaa, se voi olla esimerkiksi kovan kuormituksen alaisena. Yritä hetken kuluttua uudestaan.</p>
            </div>
        </div>
    </div>

    <div class="row px">
        <div class="col-xs-11">
            <label
                   class="h3 text-dark">{{i18n.content.esitayta.etsijulkaisu.title[lang]}}
            </label>
            <p data-ng-bind="i18n.content.esitayta.etsijulkaisu.info[lang]"></p>
            <p class="text-secondary">VIRTA-palvelun nimihaussa on tiettyjä rajoituksia hakusanojen suhteen:
                <a class="font-weight-bold" href="https://wiki.eduuni.fi/pages/viewpage.action?pageId=171984994" target="_blank">Tarkemmat ohjeet VIRTA-hakuun<i class="fa fa-external-link pl-x"></i></a>
            </p>

        </div>
    </div>

    <div class="row px">
        <div class="col-xs-11">
            <label class="control-label font-weight-bold"
                   for="tekijannimi"
                    data-ng-bind="i18n.content.esitayta.etsijulkaisu.tekija[lang]">

            </label>
            <div class="form-group">
                <input id="tekijannimi"
                       type="text" class="form-control"
                       data-ng-disabled="crossrefTaiVirtaLataa"
                       data-ng-model="julkaisunhakutekija"
                       placeholder="{{i18n.content.esitayta.etsijulkaisu.tekija[lang]}}">
            </div>
        </div>
    </div>


    <div class="row px">
        <div class="col-xs-11">
            <label class="control-label font-weight-bold"
                   for="julkaisunnimihaku">
                {{i18n.content.esitayta.etsijulkaisu.picktip[lang]}}
            </label>
            <input class="form-control" type="text"
                   data-ng-model="hakusana"
                   id="julkaisunnimihaku"
                   data-ng-disabled="crossrefTaiVirtaLataa"
                   placeholder="{{i18n.content.esitayta.etsijulkaisu.picktip[lang]}}">
            <div class="btn-group" uib-dropdown is-open="searchDropDownStatus.isopen">
                <ul class="custom-dropdown position-relative" uib-dropdown-menu role="menu"
                    aria-labelledby="julkaisunnimihaku">
                    <li role="menuitem"
                        class="cursor-pointer"
                        data-ng-repeat="julkaisu in julkaisunnimet"
                        data-ng-click="valitseJulkaisu(julkaisu)">
                        <span class="justus-dim-sm">{{julkaisu.source}} {{julkaisu.doi}}</span>
                        <br> <span class="font-weight-bold">{{julkaisu.title}}</span>
                        <br>{{julkaisu.author}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-1">
            <button type="button"
                    style="margin-top:27px;"
                    class="btn btn-primary"
                    data-ng-disabled="!hakusana || hakusana.length < 5 || crossrefTaiVirtaLataa"
                    data-ng-click="refreshJulkaisunnimet($event, hakusana, julkaisunhakutekija)"
                    data-ng-bind="i18n.content.esitayta.doihaku.hae[lang]">
            </button>
        </div>
    </div>

    <div data-ng-show="noResults" class="row px">
        <div class="col-xs-12">
            <div class="alert alert-danger">
            <p class="text-secondary text-dark pl-x text-xl" data-ng-bind="i18n.content.esitayta.etsijulkaisu.eituloksia[lang]"></p>
            </div>
        </div>
    </div>

    <div class="row px" data-ng-show="valittuJulkaisu">
        <div class="col-xs-12">
            <p class="text-secondary h4 font-weight-bold" data-ng-bind="i18n.content.esitayta.etsijulkaisu.valittuna[lang]"></p>

            <p class="h4 text-dark">
                <span>{{valittuJulkaisu.source}}</span>  <span class="pl-x">{{valittuJulkaisu.identifier}}</span>
            </p>
            <p class="h4 text-dark font-weight-bold">
                {{valittuJulkaisu.title}}
            </p>
            <p class="h4 text-dark">
            {{valittuJulkaisu.author}}
            </p>
            <button type="button"
                    data-ng-disabled="crossrefTaiVirtaLataa"
                    class="btn btn-primary mt-x"
                    data-ng-click="useJulkaisunnimi(valittuJulkaisu.source, valittuJulkaisu.identifier)"
                    data-ng-bind="i18n.content.esitayta.hae[lang]">
            </button>
        </div>
    </div>

    <div class="row px" data-ng-if="crossrefTaiVirtaLataa">
        <div class="col-xs-12 text-center text-dark">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
            <p class="text-secondary m-t">Haku käynnissä, odotathan...</p>
        </div>
    </div>

    <div data-ng-show="crossRefServerError2" class="row px m-t">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <p class="text-secondary text-dark pl-x text-xl">CrossRef palvelu ei vastaa, se voi olla esimerkiksi kovan kuormituksen alaisena. Yritä hetken kuluttua uudestaan.</p>
            </div>
        </div>
    </div>


</div>
<div class="row" data-ng-show="valittuJulkaisu.organisation == user.organization.code">
    <div class="col-xs-12">
        <h3>
            *Mahdollinen duplikaatti*
        </h3>
    </div>
</div>

<div class="row px" style="margin-top:80px">
    <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-lg btn-primary pull-right" data-ng-click="useVaihe(2)">
            {{ i18n.content.esitayta.ohita[lang] }}
        </button>
    </div>
</div>