<!-- vaihe 1 esitäytä -->
<!-- https://www.flowdock.com/app/tiptop/julkaisutiedonkeruu/threads/p5pUkeuPLbnwLdQb6I6wE_b-ZCI -->
<!-- hae julkaisua CrossRef, ARTO, VIRTA-JTP; voi myös ohittaa -->
<!-- hakuehdot: DOI, julkaisun nimi, tekijän nimi -->
<!-- div class="row">
  <div class="col-xs-12">
    <span>{{i18n.content.esitayta.title[lang]}}</span>
    <br>
    <span class="">{{i18n.content.esitayta.text[lang]}}</span>
    <script type="text/ng-template" id="HakuPopoverTemplate.html">
      <ol>
        <li>{{i18n.content.esitayta.text.doi[lang]}}</li>
        <li>{{i18n.content.esitayta.text.haku[lang]}}</li>
        <li>{{i18n.content.esitayta.text.ohita[lang]}}</li>
      </ol>
    </script>
    <i class="fa fa-info-circle justus-info"
     data-popover-trigger="'mouseenter'" data-popover-placement="bottom"
     data-popover-title="{{i18n.content.esitayta.title[lang]}}"
     data-uib-popover-template="'HakuPopoverTemplate.html'"></i>
  </div>
</div -->

<div class="alert alert-transparent text-center" data-ng-if="justus.julkaisu.id">
    <h4>Muokkaat julkaisua {{ justus.julkaisu.id }}, {{ justus.julkaisu.julkaisunnimi }}</h4>
    <button class="btn btn-primary" data-ng-click="clearFormAndReturnToStart()">Hylkää muutokset</button>
</div>

<div class="esitaytto-container px">
    <div class="row m-b px">
        <div class="col-xs-12">
            <label for="doihaku" class="h3 text-dark">{{i18n.content.esitayta.doihaku.title[lang]}}</label>
            <p data-ng-bind="i18n.content.esitayta.doihaku.info[lang]"></p>
            <div class="input-group">
                <input id="doihaku"
                       name="doihaku"
                       type="text"
                       data-ng-model="julkaisunhakudoi"
                       class="form-control"
                       placeholder='{{i18n.content.esitayta.doihaku.tunniste.tooltip[lang]}}'>
                <span class="input-group-btn">
              <button type="submit"
                      class="btn btn-primary"
                      data-ng-click="useJulkaisunnimi('CrossRef',julkaisunhakudoi)"
                      data-ng-bind="i18n.content.esitayta.doihaku.hae[lang]">
              </button>
            </span>
            </div>
        </div>
    </div>

    <div class="row px">
        <div class="col-xs-12">
            <label id="julkaisunnimihaku"
                   class="h3 text-dark">{{i18n.content.esitayta.etsijulkaisu.title[lang]}}
            </label>
            <p data-ng-bind="i18n.content.esitayta.etsijulkaisu.info[lang]"></p>
            <div class="form-group">
                <input aria-label="tekijannimi"
                       type="text" class="form-control"
                       data-ng-model="julkaisunhakutekija"
                       placeholder="{{i18n.content.esitayta.etsijulkaisu.tekija.tooltip[lang]}}">
            </div>
            <div class="form-group">
                <ui-select
                        aria-labelledby="julkaisunnimihaku"
                        data-ng-model="julkaisu.selected"
                        theme="bootstrap" uis-open-close="onOpenClose(isOpen, $select.selected.title)">
                    <ui-select-match class="ui-select-match"
                                     placeholder="{{i18n.content.esitayta.etsijulkaisu.picktip[lang]}}">
                        {{$select.selected.title}}
                    </ui-select-match>
                    <ui-select-choices repeat="o in julkaisunnimet | filter: $select.search"
                                       refresh="refreshJulkaisunnimet($select.search,julkaisunhakutekija)"
                                       refresh-delay="2000">
                        <div>
                            <span class="justus-dim-sm">{{o.source}} {{o.doi}}</span>
                            <br>{{o.title}}
                            <br>{{o.author}}
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row px">
        <div class="col-xs-6">
            <i class="fa fa-spinner fa-spin fa-3x pull-right" data-ng-show="virtaLataa"></i>
        </div>
        <div class="col-xs-6">
            <button type="button"
                    class="btn btn-primary  pull-right"
                    data-ng-click="useJulkaisunnimi(julkaisu.selected.source, julkaisu.selected.identifier)"
                    data-ng-bind="i18n.content.esitayta.hae[lang]">
            </button>
        </div>
    </div>

</div>
<div class="row" data-ng-show="julkaisu.selected.organisation == user.organization.code">
    <div class="col-xs-12">
        <h3>
            *Mahdollinen duplikaatti*
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-lg btn-primary" data-ng-click="julkaisuhaettu=true; useVaihe(2)">
            {{ i18n.content.esitayta.ohita[lang] }}
        </button>
    </div>
</div>