<div class="alert alert-default text-center text-secondary" data-ng-if="justus.julkaisu.id">
  <span class="text-2xl text-dark">{{i18n.content.alert.text[lang]}}  {{ justus.julkaisu.id }}, {{ justus.julkaisu.julkaisunnimi }}</span>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="breadcrumb">
      <h1 data-ng-bind="i18n.header.navigation.tallenna[lang]"></h1> <span><i class="fa fa-chevron-right"></i></span>
      <h2 data-ng-bind="i18n.content.vaihevuo.julkaisutyyppi[lang]"></h2>
    </div>
  </div>
</div>

<uib-accordion class="text-secondary">
  <div uib-accordion-group class="panel-default"
       data-ng-repeat="o in codes.julkaisutyypit | orderBy: 'arvo' track by $index"
       is-open="o.open"
       data-ng-init="o.open = julkaisutyyppi_paa === o.arvo"
       data-ng-class="{'opened': o.open}"
       data-ng-click="useJulkaisutyyppiPaa(o.arvo)"
       data-ng-if="o.arvo=='A' || o.arvo=='B' || o.arvo=='C' || o.arvo=='D' || o.arvo=='E' || o.arvo=='F' || o.arvo=='G'">
    <uib-accordion-heading class="bg-light">
      <div>
        <h4>{{o.selite}}
        <i class="pull-right glyphicon"
           data-ng-class="{'glyphicon-chevron-down': o.open, 'glyphicon-chevron-right': !o.open}"></i>
        </h4>
      </div>
    </uib-accordion-heading>
    <div data-ng-repeat="a in o.alatyypit | orderBy: 'arvo'">
      <div class="col-xs-12 julkaisutyyppi-btn" data-ng-class="{'active': justus.julkaisu.julkaisutyyppi == a.arvo}"
           data-ng-click="useField('julkaisu','julkaisutyyppi',a.arvo); useVaihe(3);">
        <h5 class="font-weight-bold mb-0">
          {{a.selite}}
        </h5>
        <p class="mb-0 ">
          {{a.kuvaus}}
        </p>
      </div>
    </div>
  </div>
</uib-accordion>