<div class="alert alert-transparent text-center" data-ng-if="justus.id">
  <h4>Muokkaat julkaisua {{ justus.id }}, {{ justus.julkaisunnimi }}</h4>
  <button class="btn btn-primary" data-ng-click="clearFormAndReturnToStart()">Hylkää muutokset ja siirry alkuun</button>
</div>

<!-- julkaisutyyppi pääluokka -->
<div class="row form-group">
  <div class="col-xs-12">
    <div class="row" data-ng-repeat="o in codes.julkaisutyypit | orderBy: 'arvo'"
      data-ng-if="o.arvo=='A' || o.arvo=='B' || o.arvo=='C' || o.arvo=='D' || o.arvo=='E' || o.arvo=='F' || o.arvo=='G'"
    >
      <div class="col-xs-12">
        <div class="col-xs-12 justus-btn justus-btn-tyyppi" data-ng-class="{'active': julkaisutyyppi_paa == o.arvo}"
        data-ng-click="useJulkaisutyyppiPaa(o.arvo);">{{o.selite[lang]}}</div>
        <!-- julkaisutyyppi alaluokka -->
        <div class="row form-group"
         data-ng-show="julkaisutyyppi_paa == o.arvo">
          <div class="col-xs-1"></div>
          <div class="col-xs-11">
            <input type="hidden" data-ng-model="justus.julkaisutyyppi">
            <div data-ng-repeat="a in o.alatyypit | orderBy: 'arvo'">
              <div class="col-xs-12 justus-btn justus-btn-tyyppi" data-ng-class="{'active': justus.julkaisutyyppi == a.arvo}"
               data-ng-click="useField('julkaisutyyppi',a.arvo); useVaihe(3);">
                {{a.selite[lang]}}
                <i class="fa fa-info-circle"
                data-popover-trigger="'mouseenter'" data-popover-placement="right"
                data-popover-class="justus-info-bw"
                data-uib-popover="{{a.kuvaus[lang]}}"
                data-ng-show="a.kuvaus[lang]"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
