<div data-ng-controller="JulkaisunsyottoController">
<div class="row form-group">
    <div class="col-xs-12">
        <div data-ng-show="showPublicationInput" class="row">
            <div class="col-xs-12">
                <button class="col-xs-12 justus-btn justus-btn-tyyppi"
                        data-ng-disabled="rinnakkaistallennettumuualle"
                        data-ng-class="{'active': syotaJulkaisu, 'disabled': rinnakkaistallennettumuualle}"
                        data-ng-click="syotaJulkaisu = !syotaJulkaisu; rinnakkaistallennettumuualle = false;
                                    eirinnakkaistellennettava = false">
                    {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.otsikko[lang] }}
                    <i class="fa fa-info-circle"
                       data-popover-trigger="'mouseenter'" data-popover-placement="right"
                       data-popover-class="justus-info-bw"
                       data-uib-popover="{{i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.otsikko.tooltip[lang]}}"
                       data-ng-show="true"></i>
                </button>
                <div class="col-xs-12">
                    <div data-ng-show="syotaJulkaisu" class="m-t m-b">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label"
                                       data-ng-bind="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.julkaisu[lang]">
                                </label>
                                <i class="fa fa-info-circle justus-info"
                                   data-popover-trigger="'mouseenter'" data-popover-placement="right"
                                   data-uib-popover="{{i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.julkaisu.tooltip[lang]}}"
                                   data-ng-show="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.julkaisu.tooltip[lang]">
                                </i>
                            </div>
                            <div data-ng-show="fileAlreadyExists" class="col-md-8">
                                <div class="row">
                                    <div class="col-md-10">
                                        <span class="font-weight-bold text-xl">
                                          <a data-ng-if="filedata.handle === ''" data-ng-href="{{ getLink()}}" target="_blank" download> {{filedata.filename}} </a>
                                          <span data-ng-if="filedata.handle !== ''"> {{filedata.filename}} </span>
                                        </span>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <button class="btn btn-danger m-b"
                                                data-ng-click="removeFileFromServer()">Poista
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="!fileAlreadyExists" class="col-md-8">
                                <form name="form">
                                    <div ng-show="!file">
                                        <div class="d-inline-block" ngf-select ngf-change="getUrn()" ng-model="file" name="filename"
                                             ngf-max-size="100MB">
                                            <button class="btn btn-primary">Valitse tiedosto</button>
                                        </div>
                                        <div class="d-inline-block text-right px" ng-if="!file">Ei valittua
                                            tiedostoa
                                        </div>
                                    </div>
                                    <div ng-show="!file" ngf-drop ng-model="file" class="drop-box"
                                         ngf-drag-over-class="'dragover'" ngf-allow-dir="true">
                                        Tai vedä tiedosto tähän
                                    </div>
                                    <div class="row" ng-show="file">
                                        <div class="col-md-8">
                                            <span class="font-weight-bold text-xl">{{file.name}}</span>
                                        </div>
                                        <div class="col-md-2" style="margin-top:5px;">
                                            <span data-ng-bind="bytesToSize(file.size)"></span>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <button class="btn btn-primary m-b"
                                                    data-ng-click="removeFile(); file = null">Poista
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label class="control-label"
                                       data-ng-bind="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.abstrakti[lang]">
                                </label>
                                <i class="fa fa-info-circle justus-info"
                                   data-popover-trigger="'mouseenter'" data-popover-placement="right"
                                   data-uib-popover="{{i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.abstrakti.tooltip[lang]}}"
                                   data-ng-show="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.abstrakti.tooltip[lang]">
                                </i>
                            </div>
                            <div class="col-md-8">
                                <div class="">
                                  <textarea type="text" class="form-control vertical-resize min-height-300"
                                            data-ng-model="filedata.abstract">
                                  </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label class="control-label"
                                       data-ng-bind="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.urn[lang]">
                                </label>
                                <i class="fa fa-info-circle justus-info"
                                   data-popover-trigger="'mouseenter'" data-popover-placement="right"
                                   data-uib-popover="{{i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.urn.tooltip[lang]}}"
                                   data-ng-show="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.urn.tooltip[lang]">
                                </i>
                            </div>
                            <div class="col-md-8">
                                <p data-ng-model="filedata.urn">{{filedata.urn}}</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label class="control-label"
                                       data-ng-bind="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.embargo[lang]">
                                </label>
                                <i class="fa fa-info-circle justus-info"
                                   data-popover-trigger="'mouseenter'" data-popover-placement="right"
                                   data-uib-popover="{{i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.embargo.tooltip[lang]}}"
                                   data-ng-show="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.embargo.tooltip[lang]">
                                </i>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group pb">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           data-ng-model="filedata.embargo" is-open="popup.opened"
                                           datepicker-options="dateOptions"
                                           show-button-bar="false" placeholder="vvvv/kk/pp"/>
                                    <span ng-click="openDatepicker()" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <div class="py">
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="setMonth()">Puolen vuoden päähän</button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="setYear()">Vuoden päähän</button>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label class="control-label"
                                       data-ng-bind="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.oikeudet[lang]">
                                </label>
                            </div>
                            <div class="col-md-6 col-xs-12 form-group">
                                <ui-select data-ng-model="filedata.oikeudet"
                                           theme="bootstrap">
                                    <ui-select-match class="ui-select-match"
                                                     placeholder="{{filedata.oikeudet.koodi }} {{ filedata.oikeudet.selite[lang] || i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.oikeudet.picktip[lang] }}">
                                        {{ $select.selected }} {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.oikeudet.value[$select.selected][lang] }}
                                    </ui-select-match>
                                    <ui-select-choices repeat="o in rights">
                                        {{o}}  {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.oikeudet.value[o][lang] }}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary m-b"
                                        data-ng-click="filedata.oikeudet = null"
                                        data-ng-if="filedata.oikeudet"
                                        title="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.tyhjenna[lang]"
                                        data-ng-bind="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.tyhjenna[lang]">
                                </button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label class="control-label"
                                       data-ng-bind="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.versio[lang]">
                                </label>
                            </div>
                            <div class="col-md-6 col-xs-12 form-group">
                                <ui-select data-ng-model="filedata.versio"
                                           theme="bootstrap">
                                    <ui-select-match class="ui-select-match"
                                                     placeholder=" {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.versio.value[filedata.versio][lang] || i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.versio.picktip[lang] }}">
                                        {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.versio.value[$select.selected][lang] }}
                                    </ui-select-match>
                                    <ui-select-choices repeat="v in version">
                                        {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.versio.value[v][lang] }}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary m-b"
                                        data-ng-click="filedata.versio = null"
                                        data-ng-if="filedata.versio"
                                        title="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.tyhjenna[lang]"
                                        data-ng-bind="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.tyhjenna[lang]">
                                </button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label class="control-label"
                                       data-ng-bind="i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.julkaisusarja[lang]">
                                </label>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="text"
                                               class="form-control"
                                               data-ng-model="filedata.julkaisusarja"
                                               placeholder="">
                                        <span class="fa fa-times form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="col-xs-12 justus-btn justus-btn-tyyppi"
                        data-ng-disabled="syotaJulkaisu"
                        data-ng-class="{'active': rinnakkaistallennettumuualle,  'disabled': syotaJulkaisu }"
                        data-ng-click="rinnakkaistallennettumuualle = !rinnakkaistallennettumuualle;
                     syotaJulkaisu = false; eirinnakkaistellennettava = false">
                    {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettumuualle.otsikko[lang] }}
                    <i class="fa fa-info-circle"
                       data-popover-trigger="'mouseenter'" data-popover-placement="right"
                       data-popover-class="justus-info-bw"
                       data-uib-popover="{{i18n.content.rinnakkaistallennusform.rinnakkaistallennettumuualle.otsikko.tooltip[lang]}}"
                       data-ng-show="true"></i>
                </button>
                <div class="col-xs-12">
                    <div data-ng-show="rinnakkaistallennettumuualle" class="m-t m-b">
                        <div class="row">
                            <div class="col-xs-4">
                                <label class="control-label"
                                       data-ng-bind="i18n.content.rinnakkaistallennusform.rinnakkaistallennettumuualle.form.rinnakkaistallennetunversionverkkoosoite[lang]">
                                </label>
                                <i class="fa fa-info-circle justus-info"
                                   data-popover-trigger="'mouseenter'"
                                   data-popover-placement="right"
                                   data-uib-popover="{{i18n.content.rinnakkaistallennusform.rinnakkaistallennettumuualle.form.rinnakkaistallennetunversionverkkoosoite.tooltip[lang]}}"
                                   data-ng-show="i18n.content.rinnakkaistallennusform.rinnakkaistallennettumuualle.form.rinnakkaistallennetunversionverkkoosoite.tooltip[lang]">
                                </i>
                            </div>
                            <div class="col-xs-8">
                                <input type="text"
                                       class="form-control"
                                       data-ng-model="justus.julkaisu.rinnakkaistallennetunversionverkkoosoite">
                                <span class="fa fa-times form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- TODO: disable if file exists, so user has to first remove file -->
                <button class="col-xs-12 justus-btn justus-btn-tyyppi"
                        data-ng-disabled="rinnakkaistallennettumuualle || syotaJulkaisu"
                        data-ng-class="{'active': eirinnakkaistellennettava,  'disabled': rinnakkaistallennettumuualle || syotaJulkaisu }"
                        data-ng-click="eiRinnakkaisTallennettavaSelected(); useVaihe(5)">
                    {{ i18n.content.rinnakkaistallennusform.eirinnakkaistallennettava[lang] }}
                    <i class="fa fa-info-circle justus-info"
                       data-popover-trigger="'mouseenter'"
                       data-popover-placement="right"
                       data-uib-popover="{{i18n.content.rinnakkaistallennusform.eirinnakkaistallennettava.tooltip[lang]}}"
                       data-ng-show="i18n.content.rinnakkaistallennusform.eirinnakkaistallennettava.tooltip[lang]">
                    </i>
                </button>
            </div>
        </div>

    </div>

</div>
<!--</div>-->

<div>
    <button
            class="btn btn-lg btn-block btn-primary"
            type="button"
            data-ng-click="updateRinnakkaistallennusData(file); useVaihe(5)">
        {{i18n.content.tietojensyotto.jatka[lang]}}
    </button>
</div>

</div>

<!--<span class="progress" ng-show="file.progress >= 0">-->
<!--<div style="width:{{file.progress}}%"-->
<!--ng-bind="file.progress + '%'">-->
<!--</div>-->
<!--</span>-->
<!--<span ng-show="file.result">Upload Successful</span>-->
<!--<span class="err" ng-show="errorMsg">{{errorMsg}}</span>-->
<!--<div style="margin-top:70px;">-->

<!--<button-->
<!--class="btn btn-lg btn-block btn-primary"-->
<!--type="button"-->
<!--data-ng-click="useVaihe(5)">-->
<!--{{i18n.content.tietojensyotto.jatka[lang]}}-->
<!--</button>-->
<!--</div>-->