<div class="alert alert-default text-center" data-ng-if="justus.julkaisu.id">
  <h4 class="text-secondary">Muokkaat julkaisua {{ justus.julkaisu.id }}, {{ justus.julkaisu.julkaisunnimi }}</h4>
  <button class="btn btn-primary" data-ng-click="clearFormAndReturnToStart()">Hylkää muutokset ja siirry alkuun</button>
</div>

<uib-accordion class="text-secondary">
  <div uib-accordion-group class="panel-default"
       data-ng-repeat="o in codes.julkaisutyypit | orderBy: 'arvo' track by $index"
       is-open="o.open"
       data-ng-init="o.open = julkaisutyyppi_paa === o.arvo"
       data-ng-class="{'opened': o.open}"
       data-ng-click="useJulkaisutyyppiPaa(o.arvo)"
       data-ng-if="o.arvo=='A' || o.arvo=='B' || o.arvo=='C' || o.arvo=='D' || o.arvo=='E' || o.arvo=='F' || o.arvo=='G'">
    <uib-accordion-heading class="bg-light">
      <div>
        <h4>{{o.selite}}
        <i class="pull-right glyphicon"
           data-ng-class="{'glyphicon-chevron-down': o.open, 'glyphicon-chevron-right': !o.open}"></i>
        </h4>
      </div>
    </uib-accordion-heading>
    <div data-ng-repeat="a in o.alatyypit | orderBy: 'arvo'">
      <div class="col-xs-12 julkaisutyyppi-btn" data-ng-class="{'active': justus.julkaisu.julkaisutyyppi == a.arvo}"
           data-ng-click="useField('julkaisu','julkaisutyyppi',a.arvo); useVaihe(3);">
        <p class="font-weight-bold mb-0">
          {{a.selite}}
        </p>
        <p class="mb-0 ">
          {{a.kuvaus}}
        </p>
      </div>
    </div>
  </div>
</uib-accordion>