<div class="row m-b">
  <div class="col-xs-8">
    <div class="breadcrumb p-t">
      <h1 data-ng-bind="i18n.header.navigation.tallenna[lang]"></h1> <span><i class="fa fa-chevron-right"></i></span>
      <h2 data-ng-bind="i18n.content.vaihevuo.tallennus[lang]"></h2>
    </div>

  </div>
  <div class="col-xs-4" data-ng-if="justus.julkaisu.id">
    <button class="btn btn-gray pull-right"
            type="button"
            data-ng-controller="TallennusController"
            data-ng-click="cancelAndReturnToPublicationListing()">Sulje tallentamatta</button>
  </div>
</div>


<div class="field-info-list">

  <table class="table table-hover text-secondary">

    <tbody>
    <!-- Julkaisutyyppi -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisutyyppi[lang] }}</th>
      <td>{{ getSelite(codes.julkaisutyypit, justus.julkaisu.julkaisutyyppi) }}</td>
    </tr>

    <!-- Julkaisuvuosi -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisuvuosi[lang] }}</th>
      <td>{{ justus.julkaisu.julkaisuvuosi }}</td>
    </tr>

    <!-- Julkaisuvuoden lisätieto -->
    <!-- Show this field only when art publication is selected -->
    <tr data-ng-if="justus.taiteenala.length > 0">
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisuvuodenlisatieto[lang] }}</th>
      <td>{{ justus.lisatieto.julkaisuvuodenlisatieto }}</td>
    </tr>

    <!-- Julkaisun nimi -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisunnimi[lang] }}</th>
      <td>{{ justus.julkaisu.julkaisunnimi }}</td>
    </tr>

    <!-- Tekijät -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.tekijat[lang] }}</th>
      <td>{{ justus.julkaisu.tekijat }}</td>
    </tr>

    <!-- Julkaisun tekijöiden lukumäärä -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisuntekijoidenlukumaara[lang] }}</th>
      <td>{{ justus.julkaisu.julkaisuntekijoidenlukumaara }}</td>
    </tr>

    <!-- Organisaation tekijät -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.organisaatiotekija[lang] }}</th>
      <td>
        <div data-ng-repeat="i in justus.organisaatiotekija track by $index" class="field-info-partial">
          {{ justus.organisaatiotekija[$index].sukunimi }}, 
          {{ justus.organisaatiotekija[$index].etunimet }}
          <div data-ng-if="justus.organisaatiotekija[$index].orcid && justus.organisaatiotekija[$index].orcid.length > 0">
            {{ justus.organisaatiotekija[$index].orcid }}
          </div>
          <div data-ng-if="justus.organisaatiotekija[$index].hrnumero" >
            {{ justus.organisaatiotekija[$index].hrnumero }}
          </div>
          <div data-ng-if="justus.organisaatiotekija[$index].rooli">
            <span data-ng-bind="justus.organisaatiotekija[$index].rooli"></span>
            <span data-ng-bind="getSelite(codes.julkaisuntekijanrooli ,justus.organisaatiotekija[$index].rooli)"></span>
          </div>
            <div data-ng-if="justus.organisaatiotekija.length > 0 && justus.organisaatiotekija[0].alayksikko.length > 0">
              <p class="text-sm mb-0" data-ng-repeat="a in justus.organisaatiotekija[$index].alayksikko track by $index">
                {{ a }}
                <span data-ng-if="a"> ({{ getSelite(user.alayksikot ,a) }})</span>
              </p>
            </div>
          </div>
        </td>
      </tr>

    <!-- Ensimmäinen kirjoittaja -->
    <tr data-ng-if="isFieldVisible('ensimmainenkirjoittaja')">
      <th class="condensed-25 font-weight-bold">Artikkelin ensimmäinen kirjoittaja on organisaation kirjoittaja</th>
      <td>{{ i18n.content.form.ensimmainenkirjoittaja[justus.julkaisu.ensimmainenkirjoittaja][lang] }}</td>
    </tr>

      <!-- Prjektinumero -->
      <tr data-ng-if="isFieldVisible('projektinumero')">
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.projektinumero[lang] }}</th>
        <td>  
          <div data-ng-repeat="pn in justus.julkaisu.projektinumero track by $index">
              {{ pn }}
          </div>
        </td>
      </tr>

      <!-- Konferenssin vakiintunut nimi -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.konferenssinvakiintunutnimi[lang] }}</th>
        <td>{{ justus.julkaisu.konferenssinvakiintunutnimi }}</td>
      </tr>

      <!-- Emojulkaisun nimi -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.emojulkaisunnimi[lang] }}</th>
        <td>{{ justus.julkaisu.emojulkaisunnimi }}</td>
      </tr>

    <!-- ISBN -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.isbn[lang] }}</th>
      <td>
        <div data-ng-repeat="isbn in justus.julkaisu.isbn track by $index">
          {{ isbn }}
        </div>
      </td>
    </tr>

    <!-- Emojulkaisun toimittajat -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.emojulkaisuntoimittajat[lang] }}</th>
        <td>{{ justus.julkaisu.emojulkaisuntoimittajat }}</td>
      </tr>

      <!-- Lehden / julkaisusarjan nimi -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.lehdenjulkaisusarjannimi[lang] }}</th>
        <td>
          <span data-ng-bind="justus.julkaisu.lehdenjulkaisusarjannimi"></span>
          <div class="field-info" data-ng-show="justus.julkaisu.jufotunnus || justus.julkaisu.jufoluokitus">
            <span data-ng-show="justus.julkaisu.jufotunnus">{{i18n.content.form.jufotunnus[lang]}}: {{justus.julkaisu.jufotunnus}}</span><span data-ng-show="justus.julkaisu.jufotunnus && justus.julkaisu.jufoluokitus">,</span>
            <span data-ng-show="justus.julkaisu.jufoluokitus">{{i18n.content.form.jufoluokitus[lang]}}: {{ justus.julkaisu.jufoluokitus }}</span>
          </div>
        </td>
      </tr>

      <!-- ISSN -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.issn[lang] }}</th>
        <td>
          <div data-ng-repeat="issn in justus.julkaisu.issn track by $index">
            {{ issn }}
          </div>
        </td>
      </tr>

      <!-- Volyymi -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.volyymi[lang] }}</th>
        <td>{{ justus.julkaisu.volyymi }}</td>
      </tr>

      <!-- Numero -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.numero[lang] }}</th>
        <td>{{ justus.julkaisu.numero }}</td>
      </tr>

      <!-- Sivut -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.sivut[lang] }}</th>
        <td>{{ justus.julkaisu.sivut }}</td>
      </tr>

      <!-- Artikkelinumero -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.artikkelinumero[lang] }}</th>
        <td>{{ justus.julkaisu.artikkelinumero }}</td>
      </tr>

      <!-- Kustantaja -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.kustantaja[lang] }}</th>
        <td>{{ justus.julkaisu.kustantaja }}</td>
      </tr>

      <!-- Julkaisun kustannuspaikka -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisunkustannuspaikka[lang] }}</th>
        <td>{{ justus.julkaisu.julkaisunkustannuspaikka }}</td>
      </tr>

      <!-- Julkaisun Avainsanat -->
      <tr>
        <th class="condensed-25 font-weight-bold">{{ i18n.content.form.avainsanat[lang] }}</th>
        <td>
          <span data-ng-repeat="i in justus.avainsanat">
            <span class="label label-primary">{{i}}</span>
          </span>
      </td>
    </tr>

    <!-- Julkaisun kieli -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisunkieli[lang] }}</th>
      <td>{{ getSelite(codes.kieli,justus.julkaisu.julkaisunkieli.toUpperCase()) }}</td>
    </tr>

    <!-- Julkaisun kansainvälisyys -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisunkansainvalisyys[lang] }}</th>
      <td>{{ i18n.content.form.julkaisunkansainvalisyys[justus.julkaisu.julkaisunkansainvalisyys][lang] }}</td>
    </tr>

    <!-- Julkaisumaa -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisumaa[lang] }}</th>
      <td>{{ justus.julkaisu.julkaisumaa }} {{ getSelite(codes.maatjavaltiot2, justus.julkaisu.julkaisumaa) }}</td>
    </tr>

    <!-- Julkistamispaikkakunta -->
    <!-- Show this field only when art publication is selected -->
    <tr data-ng-if="justus.taiteenala.length > 0">
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkistamispaikkakunta[lang] }}</th>
      <td>{{ justus.lisatieto.julkistamispaikkakunta }}</td>
    </tr>

    <!-- Tapahtuman lisätieto -->
    <!-- Show this field only when art publication is selected -->
    <tr data-ng-if="justus.taiteenala.length > 0">
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.tapahtumanlisatieto[lang] }}</th>
      <td>{{ justus.lisatieto.tapahtuma }}</td>
    </tr>

    <!-- Julkaisun tieteenala -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.tieteenala[lang] }}</th>
      <td>
        <div data-ng-repeat="i in justus.tieteenala">
          {{$index + 1}}.&nbsp;
          <span data-ng-bind="i.tieteenalakoodi"></span>
          <span data-ng-bind="getSelite(codes.tieteenalat,i.tieteenalakoodi)"></span>
        </div>
      </td>
    </tr>

    <!-- Julkaisun taiteenala -->
    <!-- Show this field only when art publication is selected -->
    <tr data-ng-if="justus.taiteenala.length > 0">
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.taiteenala[lang] }}</th>
      <td>
        <div data-ng-repeat="i in justus.taiteenala">
          <span>{{$index + 1}}.&nbsp;</span>
          <span data-ng-bind="i.taiteenalakoodi"></span>
          <span data-ng-bind="getSelite(codes.taiteenalat,i.taiteenalakoodi)"></span>
        </div>
      </td>
    </tr>

    <!-- Taidealan tyyppikategoria -->
    <tr ng-if="justus.taiteenala.length > 0">
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.taidealantyyppikategoria[lang] }}</th>
      <td>
        <div data-ng-repeat="i in justus.taidealantyyppikategoria">
          <span data-ng-bind="i+' '+getSelite(codes.taidealantyypit,i)"></span>
        </div>
      </td>
    </tr>

    <!-- Kansainvälinen yhteisjulkaisu -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.kansainvalinenyhteisjulkaisu[lang] }}</th>
      <td>{{ i18n.content.form.kansainvalinenyhteisjulkaisu[justus.julkaisu.kansainvalinenyhteisjulkaisu][lang] }}</td>
    </tr>

    <!-- Yhteisjulkaisu yrityksen kanssa -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.yhteisjulkaisuyrityksenkanssa[lang] }}</th>
      <td>{{ i18n.content.form.yhteisjulkaisuyrityksenkanssa[justus.julkaisu.yhteisjulkaisuyrityksenkanssa][lang] }}</td>
    </tr>

    <!-- DOI-tunniste -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.doitunniste[lang] }}</th>
      <td>{{ justus.julkaisu.doitunniste }}</td>
    </tr>

    <!-- Muu tunniste lisätieto -->
    <!-- Show this field only when art publication is selected -->
    <tr data-ng-if="justus.taiteenala.length > 0">
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.muutunniste[lang] }}</th>
      <td>{{ justus.lisatieto.muutunniste  }}</td>
    </tr>

    <!-- Pysyvä verkko-osoite -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.pysyvaverkkoosoite[lang] }}</th>
      <td>{{ justus.julkaisu.pysyvaverkkoosoite }}</td>
    </tr>

    <!-- Avoin saatavuus -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.avoinsaatavuus[lang] }}</th>
      <td>{{ i18n.content.form.avoinsaatavuus[justus.julkaisu.avoinsaatavuus][lang] }}</td>
    </tr>

    <!-- Julkaisumaksu -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisumaksu[lang] }}</th>
      <td>{{ justus.julkaisu.julkaisumaksu}}</td>
    </tr>

    <!-- Julkaisumaksuvuosi -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisumaksuvuosi[lang] }}</th>
      <td>{{ justus.julkaisu.julkaisumaksuvuosi}}</td>
    </tr>

    <!-- Lisätieto kenttä -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.lisatieto[lang] }}</th>
      <td>{{ justus.julkaisu.lisatieto }}</td>
    </tr>

    <!-- Julkaisu rinnakkaistallennettu -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.form.julkaisurinnakkaistallennettu[lang] }}</th>
      <td>{{ i18n.content.form.julkaisurinnakkaistallennettu[justus.julkaisu.julkaisurinnakkaistallennettu][lang] }}</td>
    </tr>

    <!-- Rinnakkaistallennetun version verkko-osoite -->
    <tr>
      <th class="condensed-25 font-weight-bold">{{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettumuualle.form.rinnakkaistallennetunversionverkkoosoite[lang]}}</th>
      <td>{{ justus.julkaisu.rinnakkaistallennetunversionverkkoosoite }}</td>
    </tr>

    <!-- Tiedoston syöttöön liittyvä data -->
    <!-- Julkaisu -->
      <tr data-ng-show="showPublicationInput">
        <th class="condensed-25 font-weight-bold"> {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.julkaisu[lang] }} </th>
        <td>{{ filedata.filename }}</td>
      </tr>

      <!-- Abstrakti -->
      <tr data-ng-show="showPublicationInput">
        <th class="condensed-25 font-weight-bold"> {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.abstrakti[lang] }} </th>
        <td>{{ filedata.abstract }} </td>
      </tr>

      <!-- URN -->
      <tr data-ng-show="showPublicationInput">
        <th class="condensed-25 font-weight-bold"> {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.urn[lang] }} </th>
        <td>{{ filedata.urn }}</td>
      </tr>

      <!-- Embargo -->
      <tr data-ng-show="showPublicationInput">
        <th class="condensed-25 font-weight-bold"> {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.embargo[lang] }} </th>
        <td>{{ filedata.embargo |  date: 'dd/MM/yyyy' }}</td>
      </tr>

      <!-- Oikeudet -->
      <tr data-ng-show="showPublicationInput">
        <th class="condensed-25 font-weight-bold"> {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.oikeudet[lang] }} </th>
        <td>{{ filedata.oikeudet }}  {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.oikeudet.value[filedata.oikeudet][lang] }}</td>
      </tr>

      <!-- Versio -->
      <tr data-ng-show="showPublicationInput">
        <th class="condensed-25 font-weight-bold"> {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.versio[lang] }} </th>
        <td>{{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.versio.value[filedata.versio][lang] }}</td>
      </tr>

      <!-- Julkaisusarja -->
      <tr data-ng-show="showPublicationInput">
        <th class="condensed-25 font-weight-bold"> {{ i18n.content.rinnakkaistallennusform.rinnakkaistallennettava.form.julkaisusarja[lang] }} </th>
        <td>{{ filedata.julkaisusarja }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row m-b">
    <div class="text-center">
      <i class="fa fa-spinner fa-spin fa-3x" data-ng-show="publicationSaveInProgress"> </i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 margin-bottom-md">
      <button
              class="btn btn-lg btn-block btn-info"
              type="submit"
              data-ng-click="useVaihe(3)">
        {{i18n.content.tietojensyotto.palaamuokkaamaan[lang]}}
      </button>
    </div>
        <div class="col-md-3 margin-bottom-md">
          <button
                  data-ng-controller="TallennusController"
                  class="btn btn-lg btn-block btn-danger"
                  type="reset"
                  data-ng-disabled="publicationSaveInProgress"
                  data-ng-click=cancelAndReturnToPublicationListing()>
            {{i18n.content.tietojensyotto.hylkaa[lang]}}
          </button>
        </div>
    <div class="col-md-6">
      <button
              data-ng-controller="TallennusController"
              class="btn btn-lg btn-block btn-primary"
              type="submit"
              data-ng-disabled="publicationSaveInProgress"
              data-ng-click="savePublicationForm()">
        {{i18n.content.tallennus.tallenna[lang]}}
      </button>
    </div>
  </div>
</div>
