.m-t {
  margin-top: $padding-large-vertical;
}


.text-gray {
  color: 	#8c8c8c;
}

.text-xl {
  font-size: 1.2em;
}

.m-b {
  margin-bottom: $padding-large-vertical;
}

.mb-x {
  margin-bottom: $padding-small-vertical;
}

.pb{
  padding: 0 0 $padding-small-vertical 0;
}

.px {
  padding: 0 $padding-large-horizontal
};

.pxs {
  padding: 0 $padding-small-horizontal
};

.py {
  padding: $padding-small-vertical 0;
}

.nowrap {
  white-space: nowrap;
}

.float-right {
  float:right;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.vertical-resize {
  resize: vertical;
}

.min-height-300 {
  min-height: 300px;
}

.cursor-pointer {
  cursor: pointer;
}

.font-weight-bold {
  font-weight: bold;
}

.bg-white {
  background-color: #fff !important;
}

.d-inline-block {
  display: inline-block;
}

*:focus {
  outline: none !important;
}

.issn-list {
  &:first-child {

  }
}

@mixin input() {
  border-radius: $input-border-radius;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
