
.person-input {
  border: 0;
  border-bottom: 1px solid $brand-primary;
  border-radius: 0;
  box-shadow: none;
}

.m-t {
  margin-top: $padding-large-vertical;
}

.mt-x {
  margin-top: $padding-small-vertical;
}

.font-weight-light {
  font-weight: lighter;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.text-secondary {
  font-family: $font-family-secondary;
}

.text-color-primary {
  color: $brand-primary;
}

.text-color-secondary {
  color: $text-color-secondary;
}

.link-white {
  color: $brand-white;
  &:hover, &:active, &:focus {
    color: $brand-white;
  }
}

.text-gray {
  color: #8c8c8c;
}

.text-dark {
  color: $text-color-dark;
}
.text-sm {
  font-size: $font-size-base;
}

.text-md {
  font-size: 16px;
}

.text-xl {
  font-size: 1.2em;
}

.mx {
  margin: 0 10px;
}

.text-2xl {
  font-size: 1.4em;
}

.mt-0 {
  margin-top: 0;
}

.m-b {
  margin-bottom: $padding-large-vertical;
}

.mb-l {
  margin-bottom: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-x {
  margin-bottom: $padding-small-vertical;
}

.mt-xl {
  margin-top: $padding-large-vertical*2;
}

.p-1 {
  padding: $padding-large-horizontal;
}

.pt {
  padding-top:5px;
}

.pl {
  padding-left: $padding-small-horizontal;
}

.pb{
  padding: 0 0 $padding-small-vertical 0;
}

.px {
  padding: 0 $padding-large-horizontal
}

.pxs {
  padding: 0 $padding-small-horizontal
};

.pl-x {
  padding: 0 0 0 6px;
}

.py {
  padding: $padding-small-vertical 0;
}

.p-0 {
  padding: 0 !important;
}

.pt {
  padding-top:5px;
}

.pt-0 {
  padding-top: 0;
}

.p-t {
  padding-top: $padding-large-vertical;
}

.p-r {
  padding-right: $padding-small-horizontal;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pl-x {
  padding-left: 5px;
}

.pb-lg {
  padding-bottom: 10px;
}

.nowrap {
  white-space: nowrap;
}

.position-relative {
  position: relative;
}

.float-right {
  float:right;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.vertical-resize {
  resize: vertical;
}

.min-height-300 {
  min-height: 300px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-disabled {
  cursor: not-allowed;
}

.font-weight-bold {
  font-weight: bold;
}
 .letter-spacing-1 {
   letter-spacing: 1px;
 }

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff !important;
}

.bg-primary {
  background-color: $brand-primary;
}

.border-danger {
  border: 1px solid $brand-danger;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.list-style-none {
  list-style: none;
}

.break-word {
  overflow-wrap: break-word;
}

.no-underline {
  &:hover {
    text-decoration: none;
  }

}

*:focus {
  outline: none !important;
}

.no-hover {
  &:hover {
    color: inherit;

  }
}

.box-shadow-0 {
  box-shadow: none;
}

.border-radius-0 {
  border-radius: 0;
}

.border-0 {
  border: none;
}

.border-primary {
  border: 2px solid $brand-primary;
}

.border-bottom-1 {
  border-bottom: 1px solid $brand-primary;
}

.ui-select-choices-row-inner {
  padding-left: 10px !important;
}

input[type=number]
{
  padding-left: 0 !important;
  text-indent: 10px;
  padding-right: 5px;
}

@mixin input() {
  border-radius: $input-border-radius;
}

input[type="file"] {
  display: none;
}


