.m-t {
  margin-top: $padding-large-vertical;
}

.mt-x {
  margin-top: $padding-small-vertical;
}

.font-weight-light {
  font-weight: lighter;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.link-white {
  color: $brand-white;
  &:hover, &:active, &:focus {
    color: $brand-white;
  }
}

.text-gray {
  color: #8c8c8c;
}

.text-dark {
  color: $text-color-dark;
}

.text-xl {
  font-size: 1.2em;
}

.text-2xl {
  font-size: 1.4em;
}

.mt-0 {
  margin-top: 0;
}

.m-b {
  margin-bottom: $padding-large-vertical;
}

.mb-x {
  margin-bottom: $padding-small-vertical;
}

.p-1 {
  padding: $padding-large-horizontal;
}

.pb{
  padding: 0 0 $padding-small-vertical 0;
}

.px {
  padding: 0 $padding-large-horizontal
};

.pxs {
  padding: 0 $padding-small-horizontal
};

.py {
  padding: $padding-small-vertical 0;
}

.p-0 {
  padding: 0;
}

.p-r {
  padding-right: $padding-small-horizontal;
}

.pl-0 {
  padding-left: 0;
}

.pl-x {
  padding-left: 5px;
}

.nowrap {
  white-space: nowrap;
}

.float-right {
  float:right;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.vertical-resize {
  resize: vertical;
}

.min-height-300 {
  min-height: 300px;
}

.cursor-pointer {
  cursor: pointer;
}

.font-weight-bold {
  font-weight: bold;
}

.bg-white {
  background-color: #fff !important;
}

.d-inline-block {
  display: inline-block;
}

.list-style-none {
  list-style: none;
}

*:focus {
  outline: none !important;
}

.issn-list {
  &:first-child {

  }
}

.ui-select-choices-row-inner {
  padding-left: 10px !important;
}


input[type=number]
{
  padding-left: 0 !important;
  text-indent: 10px;
  padding-right: 5px;
}

@mixin input() {
  border-radius: $input-border-radius;
}



