<div>
    <h4 class="font-weight-bold">Käyttäjän {{person.etunimi}} {{person.sukunimi}} ({{person.orcid}}) julkaisut:</h4>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="text-xl">JulkaisuID</th>
                        <th class="text-xl">Julkaisu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="julkaisu in publicationList">
                        <td>{{julkaisu.id}}</td>
                        <td>{{julkaisu.julkaisunnimi}}</td>
                    </tr>
                </tbody>
            </table>
            <div data-ng-if="!publicationList.length">
                Ei julkaisuja
            </div>
        </div>
    </div>
</div>