<div class="footer">
    <div data-ng-if="state.name!='index'">
        <div class="row p-1">
            <div class="col-xs-12 text-center text-2xl text-secondary">
                <span class="font-weight-bold"> {{i18n.footer.help.title[lang]}}:</span> {{user.mail}}
            </div>
            <div data-ng-if="user.seloste && user.seloste.length" class="col-xs-12 text-center text-secondary pt">
                <div>
                    <a class="link-white text-xl" target="_blank" data-ng-href="{{user.seloste[0]}}">
                        {{i18n.footer.tietosuojaseloste.linkki[lang]}}
                    </a><i class="fa fa-external-link"></i>
                </div>
                <div  data-ng-if="user.seloste.length === 2">
                    <a class="link-white text-xl" target="_blank" data-ng-href="{{user.seloste[1]}}">
                        {{i18n.footer.tietosuojaseloste.linkki["EN"]}}
                    </a><i class="fa fa-external-link"></i>
                </div>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-md-3"></div>
            <div class="col-md-3 col-xs-12 text-center">
                <div class="d-inline-block text-left">
                    <p class="text-xl text-secondary font-weight-bold letter-spacing-1">{{i18n.footer.sivukartta[lang]}}:</p>
                    <nav aria-label="secondary-nav">
                        <ul class="list-style-none text-xl text-secondary pl-0">
                            <li>
                                <a href data-ui-sref="valitse()"
                                   class="link-white"
                                   data-ng-bind="i18n.header.navigation.etusivu[lang]">
                                </a>
                            </li>
                            <li>
                                <a href data-ui-sref="justus({id:id,vaihe:vaihe||1})"
                                   class="link-white"
                                   data-ng-bind="i18n.header.navigation.tallenna[lang]">
                                </a>
                            </li>
                            <li>
                                <a href data-ui-sref="omat()"
                                   class="link-white"
                                   data-ng-bind="i18n.header.navigation.omat[lang]">
                                </a>
                            </li>
                            <li data-ng-show="user.role === 'admin' || user.role === 'owner'">
                                <a href data-ui-sref="hyvaksy()"
                                   class="link-white"
                                   data-ng-bind="i18n.header.navigation.hyvaksy[lang]">
                                </a>
                            </li>
						<li data-ng-show="user.role === 'admin' || user.role === 'owner'">
							<a href data-ui-sref="admin()"
							   class="link-white"
							   data-ng-bind="i18n.header.navigation.admin[lang]">
							</a>
						</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-center text-secondary">
                <div class="text-left d-inline-block">
                    <p class="text-xl text-secondary font-weight-bold letter-spacing-1">{{i18n.footer.selosteet[lang]}}:</p>
                    <div class="">
                    <p class="text-xl mb-0">
                        <a class="link-white" href="https://wiki.eduuni.fi/display/CscJustus/Ohjeet" target="__blank">
                            {{i18n.footer.ohjeet[lang]}}
                            <i class="fa fa-external-link pl-x"></i>
                        </a>
                    </p>
                    <p class="text-xl mb-0">
                        <a class="link-white" href="https://wiki.eduuni.fi/display/CscJustus/Saavutettavuusseloste" target="__blank">
                            {{i18n.footer.saavutettavuusseloste[lang]}}
                            <i class="fa fa-external-link pl-x"></i>
                        </a>
                    </p>
                    <p class="text-xl mb-0">
                        <a class="link-white" href="https://wiki.eduuni.fi/pages/viewpage.action?pageId=30310801" target="__blank">
                            {{i18n.footer.tietosuoja[lang]}}
                            <i class="fa fa-external-link pl-x"></i>
                        </a>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
            <span class="text-secondary d-inline-block"
                  style="padding: 15px 30px; border:1px solid #fff">{{i18n.footer.kayttokatko[lang]}}</span>
            </div>
        </div>
    </div>

    <div class="row m-t">
        <div class="col-xs-12 text-center text-secondary">
            <div class="text-xl font-weight-bold" data-ng-bind="i18n.footer.palveluntarjoaa[lang]"></div>
            <div class="p-1">
                <img src="img/cscnega.png" alt="CSC logo" style="max-height:50px">
            </div>
            <div>
                <p>
                    {{i18n.footer.csc.name[lang]}}
                </p>
                <p>
                    <a class="link-white" href="mailto:justus@csc.fi">justus@csc.fi
                        <i class="fa fa-envelope pl-x" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
