<div class="row m-b" id="topOfPage">
    <div class="col-xs-12 col-md-6">
        <div data-ng-if="state.name=='index'">
            <img src="img/justus2.png" alt="Justus logo" class="img-responsive">
        </div>
        <div data-ng-if="state.name!='index'">
            <div>
                <a href data-ui-sref="valitse()">
                    <img src="img/justus2.png" alt="Justus logo" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 pull-right text-right text-md pl-0">
        <div data-ng-if="state.name!='index' && user">
            <span class="font-weight-bold">{{user.name}},</span>&nbsp;
            <span>
        <span data-ng-if="initialRole === 'owner'" class="text-capitalize">{{user.role}}, {{ user.organization.code}}:&nbsp;</span>{{ user.organization.name }}</span>
            <span>| <a href="" data-ng-click="logout()">{{i18n.header.logout[lang]}}</a></span>
        </div>
        <div>

        <span data-ng-if="state.name !== 'justus'">

        <a href data-ng-show="lang!='FI'" data-ng-click="changeLang('FI')">{{i18n.header.lang.FI}}</a>
        <span data-ng-show="lang!='FI'" aria-hidden="true">|</span>
        <a href data-ng-show="lang!='SV'" data-ng-click="changeLang('SV')">{{i18n.header.lang.SV}}</a>
        <span data-ng-show="lang=='FI'" aria-hidden="true">|</span>
        <a href data-ng-show="lang!='EN'" data-ng-click="changeLang('EN')">{{i18n.header.lang.EN}}</a>
      </span>
        </div>

    <span data-ng-if="initialRole === 'owner'">
      <select data-ng-model="selectedDemoUserRole">
        <option value="" disabled selected>Valite rooli</option>
        <option value="admin">Admin</option>
        <option value="member">Member</option>
      </select>
      <select data-ng-model="selectedDemoUserOrganizationCode">
        <option value="" disabled selected>Valite organisaatio</option>
        <option data-ng-repeat="organization in organisationList" value="{{organization.arvo}}">{{organization.arvo}}: {{organization.value}}</option>
      </select>
      <button class="btn btn-default btn-sm" style="padding: 5px"
              data-ng-click="setDemoUserOrganization(selectedDemoUserOrganizationCode, selectedDemoUserRole)">
        Lähetä
      </button>
        <button class="btn btn-default btn-sm" style="padding: 5px" data-ng-click="resetDemoUser()">
          Tyhjennä
      </button>
    </span>

    </div>
</div>
<div class="row" data-ng-if="state.name!='index'">
    <div class="col-md-12">
        <div class="navigation">
            <nav aria-label="primary-nav">
                <a href data-ui-sref="valitse()"
                   data-ng-class="getMenuClass('/valitse')"
                   data-ng-bind="i18n.header.navigation.etusivu[lang]">
                </a>
                <a href data-ui-sref="justus({id:id,vaihe:vaihe||1})"
                   data-ng-class="getMenuClass('/justus')"
                   data-ng-bind="i18n.header.navigation.tallenna[lang]">
                </a>
                <a href data-ui-sref="omat()"
                   data-ng-class="getMenuClass('/omat')"
                   data-ng-bind="i18n.header.navigation.omat[lang]">
                </a>
                <a data-ng-if="hasAccessToApprove()"
                   href data-ui-sref="hyvaksy()"
                   data-ng-class="getMenuClass('/hyvaksy')"
                   data-ng-bind="i18n.header.navigation.hyvaksy[lang]">
                </a>
            </nav>
        </div>
    </div>
</div>
