<div data-ng-controller="JustusController">

    <form id="form_justus" name="fj" data-ng-if="vaihe>=1">
        <div data-ng-if="vaihe>=1" data-ng-include data-src="'html/justus/vaihevuo.html'"></div>
        <div data-ng-if="vaihe==1" data-ng-include data-src="'html/justus/esitayta.html'"></div>
        <div data-ng-if="vaihe==2" data-ng-include data-src="'html/justus/julkaisutyyppi.html'"></div>
        <div data-ng-if="vaihe==3" data-ng-include data-src="'html/justus/tietojensyotto.html'"></div>
        <!-- voi olla omassa ali-scopessa -->
        <div data-ng-if="vaihe==4" data-ng-include data-src="'html/justus/julkaisunsyotto.html'"></div>
        <div data-ng-if="vaihe==5" data-ng-include data-src="'html/justus/tallennus.html'"></div>
    </form>

</div>
