<div class="row no-gutter m-b">
  <div class="col-xs-6 text-center">
    <div class="justus-btn justus-btn-stage" data-ng-class="{selected: publications.odottavat}"
         data-ng-click="publications.odottavat=true; resetPublicationListData()"
          data-ui-sref="{{state.name}}({tila:'odottavat'})">
      <span data-ng-bind="i18n.content.tarkasta.odottavat[lang]"></span>
    </div>
  </div>
  <div class="col-xs-6 text-center">
    <div class="justus-btn justus-btn-stage" data-ng-class="{selected: !publications.odottavat}"
         data-ng-click="publications.odottavat=false; resetPublicationListData()"
         data-ui-sref="{{state.name}}({tila:'kasitellyt'})">
      <span data-ng-bind="i18n.content.tarkasta.hyvaksytyt[lang]"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="breadcrumb">
      <h1 data-ng-bind="state.name === 'omat' ? i18n.header.navigation.omat[lang] : i18n.header.navigation.hyvaksy[lang]"></h1> <span><i class="fa fa-chevron-right"></i></span>
      <h2 data-ng-bind="publications.odottavat ? i18n.content.tarkasta.odottavat[lang] : i18n.content.tarkasta.hyvaksytyt[lang]"></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <span class="font-weight-700 text-xl text-secondary pl-x">{{i18n.content.tarkasta.julkaisuja[lang]}}: {{publications.count}}</span>
  </div>
  <div data-ng-show="!publications.odottavat" class="col-xs-6">
    <button type="button"
            class="btn btn-link pull-right"
            data-ng-if="user.role === 'admin' || user.role === 'owner'"
            ng-csv="getCsvExportFile()"
            lazy-load="true"
            csv-header="csvExportHeader"
            filename="julkaisut.csv"
            field-separator=";"
            quote-strings="true"
            data-ng-disabled="loading.csv === true">
      <span data-ng-bind="i18n.content.tarkasta.csv[lang]"></span>


      <span data-ng-if="loading.csv">
        &nbsp;<span class="fa fa-spinner fa-spin"></span>
      </span>
    </button>
  </div>
</div>

<div data-ng-if="user.role === 'admin' || user.role === 'owner'">
  <div data-ng-show="!publications.odottavat">
    <div class="publication-search">
      <uib-accordion class="text-secondary">
        <div uib-accordion-group class="panel-default"
             is-open="status.open"
             data-ng-class="{'opened': status.open}">
          <uib-accordion-heading class="bg-light">
            <div class="py">
              Hae julkaisuista
              <i class="pull-right glyphicon"
                 data-ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </div>
          </uib-accordion-heading>
          <div class="p-1">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="vapaasanahaku"
                         class="control-label">
                    Vapaasana / ID haku
                  </label>
                  <input id="vapaasanahaku"
                         type="text" class="form-control"
                         data-ng-model="search.vapaasanahaku"
                         data-ng-keyup="$event.keyCode == 13 && searchPublications()"
                         placeholder="{{i18n.content.tarkasta.haku.tekija[lang]}}"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="vuosihaku"
                         class="control-label">
                    Julkaisuvuosi
                  </label>
                  <input id="vuosihaku"
                         type="number" class="form-control"
                         data-ng-keyup="$event.keyCode == 13 && searchPublications()"
                         data-ng-model="search.julkaisuvuosi"
                         placeholder="{{i18n.content.tarkasta.haku.julkaisuvuosi[lang]}}"/>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label">Julkaisun tila</label>
                  <ui-select data-ng-model="search.julkaisuntila"
                             theme="bootstrap">
                    <ui-select-match class="ui-select-match no-ellipsis"
                                     placeholder="{{i18n.content.tarkasta.haku.julkaisuntila[lang]}}">
                      {{ search.julkaisuntila.name || search.julkaisuntila }}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="state in julkaisuntilat">
                      {{ state.name }}
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>
            <div class="row m-t">
              <div class="col-sm-8">
                <button class="btn btn-primary btn-block"
                        data-ng-click="searchPublications()"
                        data-ng-disabled="!search.vapaasanahaku && !search.julkaisuvuosi && !search.julkaisuntila"
                        data-ng-bind="i18n.content.tarkasta.haku.hae[lang]">
                </button>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-default btn-block"
                        data-ng-click="resetPublicationListData()"
                        data-ng-bind="i18n.content.tarkasta.haku.tyhjenna[lang]">
                </button>
              </div>
            </div>
          </div>
        </div>
      </uib-accordion>
    </div>
  </div>
</div>

<div class="row no-gutter" data-ng-if="user.owner && state.name === 'hyvaksy'">
  <div class="pull-right">
    <input class="form-check-input" type="checkbox" data-ng-model="checked"
           data-ng-click="toggleSelection(checked)">
    <label class="form-check-label">
      Salli muokkaus
    </label>
  </div>
</div>

  <div class="row m-t">
    <div class="col-xs-12 table-responsive">
        <div infinite-scroll-disabled="publications.loaded"
                infinite-scroll="publications.nextPage(searchMode, search)" infinite-scroll-distance="1"
             >
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>
                <a data-ng-click="colOrderReverse=!(colOrder=='julkaisu.id'?colOrderReverse:true); colOrder='julkaisu.id'"
                   class="cursor-pointer">
                  <span data-ng-bind="i18n.content.tarkasta.table.julkaisuid[lang]"></span>
                  <span class="fa fa-sort-desc" data-ng-if="colOrder=='julkaisu.id' && !(colOrderReverse)"></span>
                  <span class="fa fa-sort-asc" data-ng-if="colOrder=='julkaisu.id' && (colOrderReverse)"></span>
                </a>
              </th>
              <th>
                <a data-ng-click="colOrderReverse=!(colOrder=='julkaisu.julkaisunnimi'?colOrderReverse:true); colOrder='julkaisu.julkaisunnimi'"
                   class="cursor-pointer">
                  <span data-ng-bind="i18n.content.tarkasta.table.julkaisunnimi[lang]"></span>
                  <span class="fa fa-sort-desc" data-ng-if="colOrder=='julkaisu.julkaisunnimi' && !(colOrderReverse)"></span>
                  <span class="fa fa-sort-asc" data-ng-if="colOrder=='julkaisu.julkaisunnimi' && (colOrderReverse)"></span>
                </a>
              </th>
              <th>
                <a data-ng-click="colOrderReverse=!(colOrder=='julkaisu.tekijat'?colOrderReverse:true); colOrder='julkaisu.tekijat'"
                   class="cursor-pointer">
                  <span data-ng-bind="i18n.content.tarkasta.table.julkaisuntekijat[lang]"></span>
                  <span class="fa fa-sort-desc" data-ng-if="colOrder=='julkaisu.tekijat' && !(colOrderReverse)"></span>
                  <span class="fa fa-sort-asc" data-ng-if="colOrder=='julkaisu.tekijat' && (colOrderReverse)"></span>
                </a>
              </th>
              <th class="hidden-xs">
                <a data-ng-click="colOrderReverse=!(colOrder=='julkaisu.modified'?colOrderReverse:true); colOrder='julkaisu.modified'"
                   class="cursor-pointer">
                  <span data-ng-bind="i18n.content.tarkasta.table.muokattu[lang]"></span>
                  <span class="fa fa-sort-desc" data-ng-if="colOrder=='julkaisu.modified' && !(colOrderReverse)"></span>
                  <span class="fa fa-sort-asc"
                        data-ng-if="colOrder=='julkaisu.modified' && (colOrderReverse)"></span></a>
              </th>
              <th class="hidden-xs">
                <a data-ng-click="colOrderReverse=!(colOrder=='julkaisu.username'?colOrderReverse:true); colOrder='julkaisu.username'"
                   class="cursor-pointer">
                  <span data-ng-bind="i18n.content.tarkasta.table.viimeisinmuokkaaja[lang]"></span>
                  <span class="fa fa-sort-desc" data-ng-if="colOrder=='julkaisu.username' && !(colOrderReverse)"></span>
                  <span class="fa fa-sort-asc" data-ng-if="colOrder=='julkaisu.username' && (colOrderReverse)"></span>
                </a>
              </th>
              <th data-ng-if="showPublicationLink">
                <span data-ng-bind="i18n.content.tarkasta.table.julkaisu[lang]"></span>
              </th>
              <th data-ng-show="state.name=='hyvaksy'"
                  class="condensed">
                <span data-ng-bind="i18n.content.tarkasta.table.hyvaksy[lang]"></span>
                <i class="fa fa-info-circle justus-info justus-color cursor-pointer"
                   data-popover-trigger="'outsideClick'"
                   data-popover-is-open="popoverIsOpen"
                   data-ng-mouseenter="popoverIsOpen = true"
                   data-popover-placement="bottom-right"
                   data-uib-popover="{{i18n.content.tarkasta.table.hyvaksy.tooltip[lang]}}">
                </i>
              </th>
            </tr>
            </thead>

            <tbody data-ng-show="data">
            <tr data-ng-repeat="d in data | orderBy:colOrder:colOrderReverse track by d.julkaisu.id"
                data-ng-class="{'hover-table-green': !d.julkaisu.julkaisuntila || state.name=='hyvaksy'}">
              <td class="condensed nowrap">
                <a data-ng-show="state.name=='hyvaksy' || !d.julkaisu.julkaisuntila"
                   data-ng-click="editPublication(d.julkaisu)"
                   data-ui-sref="justus({id:d.julkaisu.id,vaihe:5})">
                  <span data-ng-bind="d.julkaisu.julkaisuvuosi+'-'+d.julkaisu.organisaatiotunnus+'-'+d.julkaisu.id"></span>
                </a>
                <span data-ng-show="state.name=='omat' && d.julkaisu.julkaisuntila" data-ng-bind="d.julkaisu.julkaisuvuosi+'-'+d.julkaisu.organisaatiotunnus+'-'+d.julkaisu.id"></span>
              </td>
              <td data-ng-click="editPublication(d.julkaisu)">{{ d.julkaisu.julkaisunnimi | truncate:true:180:'...' }}</td>
              <td data-ng-click="editPublication(d.julkaisu)">{{ d.julkaisu.tekijat | truncate:true:180:'...' }}</td>
              <td data-ng-click="editPublication(d.julkaisu)" class="hidden-xs nowrap">
                <span data-ng-bind="d.julkaisu.modified | date:'d.M.yyyy HH:mm'"></span>
              </td>
              <td data-ng-click="editPublication(d.julkaisu)" class="hidden-xs">
                <span data-ng-bind="d.julkaisu.username"></span>
              </td>
              <td data-ng-if="showPublicationLink">
                <span data-ng-show="d.filedata">
                  <a data-ng-href="{{d.filedata.handle}}" data-ng-class="{'text-gray': !d.filedata.handle, 'no-underline': !d.filedata.handle}"
                     data-ng-disabled="!d.filedata.handle"
                     class="nowrap"
                     target="_blank">
                    <span data-ng-bind="i18n.content.tarkasta.table.tietue[lang]"></span>
                   <i title="Avaa julkaisu Theseuksessa" class="fa fa-external-link"> </i>

                  </a>
                </span>
              </td>
              <td data-ng-show="state.name=='hyvaksy'" class="btn-col">
                <div class="btn-group approve-btn">
                  <button data-ng-repeat="julkaisuntila in codes.julkaisuntila | orderBy: 'arvo' | limitTo:4"
                          title="{{julkaisuntila.selite}}"
                          class="btn btn-primary"
                          data-ng-disabled="hyvaksyBtnDisabled"
                          data-ng-class="{'active': d.julkaisu.ui_julkaisuntila==julkaisuntila.arvo }"
                          data-ng-click="d.julkaisu.ui_julkaisuntila = julkaisuntila.arvo; updatePublication(d.julkaisu, julkaisuntila.arvo)">
                    {{ julkaisuntila.arvo }}
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

<div class="row m-b" data-ng-show="data.length < 1 && !publications.showSpinner">
  <div class="col-xs-12 text-center m-b">
      <h4>No results with given parameters</h4>
  </div>
</div>

<div data-ng-if="publications.showSpinner === true && !publications.loaded" class="loading-icon-wrapper">
    <span class="fa fa-spinner fa-spin fa-2x"></span>
</div>
