<!-- vaihe 0 valitse -->


<div class="p-1 text-center">
    <h1 class="text-secondary font-weight-700 h2" data-ng-bind="i18n.content.valitse.title[lang]"></h1>
</div>

<div class="row" style="margin-bottom: 30px">
    <div class="col-xs-12 col-sm-6 text-center">
        <div class="m-b">
            <i class="fa fa-upload fa-4x text-color-secondary" aria-hidden="true"></i>
        </div>
        <button class="btn btn-primary btn-etusivu"
                data-ui-sref="justus({id:id,vaihe:vaihe||1})"
                data-ng-bind="i18n.content.valitse.tallenna.button[lang]">
        </button>
        <p class="m-t text-left px"
            data-ng-bind="i18n.content.valitse.tallenna.text[lang]">
        </p>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
        <div class="m-b">
            <i class="fa fa-list fa-4x text-color-secondary" aria-hidden="true"></i>
        </div>
        <button class="btn btn-primary btn-etusivu"
                data-ui-sref="omat()"
                data-ng-bind="i18n.content.valitse.omat.button[lang]">
        </button>
        <p class="m-t text-left px"
           data-ng-bind="i18n.content.valitse.omat.text[lang]">
        </p>
    </div>
</div>

<div data-ng-if="hasAccessToApprove()">
    <div class="p-1 text-center">
        <h2 class="text-secondary font-weight-700 " data-ng-bind="i18n.content.valitse.admintitle[lang]"></h2>
    </div>
    <div class="row m-b">
        <div class="col-xs-12 col-sm-6 text-center">
            <div class="m-b">
                <i class="fa fa-check fa-4x text-color-secondary" aria-hidden="true"></i>
            </div>
            <button class="btn btn-primary btn-etusivu"
                    data-ng-if="hasAccessToApprove()"
                    data-ui-sref="hyvaksy()"
                    data-ng-bind="i18n.content.valitse.hyvaksy.button[lang]">
            </button>
            <p class="m-t text-left px"
                data-ng-bind="i18n.content.valitse.hyvaksy.text[lang]">
            </p>
        </div>
    </div>
</div>

